<style type="text/css">

    .demo-measure-store a {
        margin: 10px;
    }

    .tab {
        padding: 5px;
        border: 1px solid #c0c0c0;
        border-top-width: 0;
    }

    .tab2 {
        border: 1px solid #c0c0c0;
        width: 902px;
        height: 505px;
    }

    .tab-first {
        border-top: 1px solid #c0c0c0;
    }

    .active-tab {
        background-color: #e0e6ea;
    }
</style>

<table class="demo-measure-store">
    <tr>
        <td valign="top">
            <div class="tab tab-first"><a href="#plotYMeasureXNone">No X-Axis Measure</a></div>
            <div class="tab"><a href="#plotYMeasureXDemCat">Categorical X-Axis Measure from Demographic</a></div>
            <div class="tab"><a href="#plotYMeasureXDemNum">Numeric X-Axis Measure from Demographic</a></div>
            <div class="tab"><a href="#plotYMeasureXSameAssayCat">Categorical X-Axis Measure from Same Assay</a></div>
            <div class="tab"><a href="#plotYMeasureXSameAssayNum">Numeric X-Axis Measure from Same Assay</a></div>
            <div class="tab"><a href="#plotYMeasureXSameDiffFilter">Same X-Axis Measure with Different Filter</a></div>
            <div class="tab"><a href="#plotYMeasureXSameDiffFilter2">Same X-Axis Measure with Different Filter (axisName)</a></div>
            <div class="tab"><a href="#plotYMeasureXDiffAssay">Numeric X-Axis Measure from Different Assay (1)</a></div>
            <div class="tab"><a href="#plotYMeasureXDiffAssay2">Numeric X-Axis Measure from Different Assay (2)</a></div>
            <div class="tab"><a href="#plotYMeasureXDiffAssay3">Numeric X-Axis Measure from Different Assay (3)</a></div>
            <div class="tab"><a href="#plotYMeasureXWeeksUnaligned">Time Point X-Axis Meaure (Unaligned)</a></div>
            <div class="tab"><a href="#plotYMeasureXMonthsAligned">Time Point X-Axis Meaure (Aligned)</a></div>
            <div class="tab">&nbsp;</div>
            <div class="tab"><a href="#scatterMeasureSameSource">scatterMeasureSameSource</a></div>
            <div class="tab"><a href="#categoricalSingleSource">categoricalSingleSource</a></div>
        </td>
        <td>
            <div id="plot" class="tab2"></div>
        </td>
    </tr>
</table>