@import '../variables';
@import '../mixins';

#notification {
  top: 4.635em;
  max-width: 1280px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  width: 100%;
  min-height: 4.635em;
  height: auto;
  background-color: white;
  position: fixed;
  overflow: hidden;
  z-index: 15;
  padding: 0em;

  .notification-messages {
    position: relative;
    left: 40px;
    margin: 15px;
    font-family: "Arial";
    font-size: 14px;
    color: #303030;
  }

  .warning {
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;
  }

  .dismiss {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin: 15px;
  }
}
