.filterstatus {
  padding: 20px 20px 0 20px;
}

div.selitem {
  padding: 4px 0;
}

.sel-list-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.closeitem {
  display: none;

  &:hover {
    cursor: pointer;
  }

  img {
    height: 18px;
    width: 18px;
  }
}

div.filterpanel {

  font-family: $info-font;
  font-size: 12px;
  margin: 0;

  .header {
    font-size: $headline;
    font-family: $data-font;
    span {
      color: $dark-color;
    }
  }
}

div.activefilter {
  position: relative;
  background-color: $light-color;
  border: 1px solid transparent;
  @include border-radius(8px);
  display: inline-block;
  width: 100%;
  padding: 3px 9px;
  margin-bottom: 6px;

  div.selitem {
    padding: 2px 5px 2px 0;
    width: 95%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .sel-label {
    font-weight: bold;
  }

  .closeitem {
    position: absolute;
    right: 4px;
    top: 4px;
  }

  &:hover {
    border: 1px solid #dddcdc;
    cursor: default;

    .closeitem {
      display: inline-block;
    }
  }

  select {
    margin: 10px 0;
  }
}

div.selectionpanel {

  font-family: $info-font;
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #BEEFEF;
  background-color: $light-color;
  @include border-radius(8px);

  .header {
    font-size: 16px;
    color: $select-color;
    font-family: $data-font;
    padding: 0 10px;
  }

  .activefilter {
    border: none !important;

    .closeitem {
      top: -20px;
    }
  }

  .x-toolbar-footer {
    padding: 0;
    margin: 0 3px 3px 0;
  }

  &:hover {
    .closeitem {
      display: inline-block;
    }
  }
}

.filter-item {

  .selitem {
    display: inline-block;
  }

  &:hover {
    .closeitem {
      display: inline-block;
    }
  }
}

.memberitem {
  float: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

ul.indent li {
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.filter-hdr-btn {
  margin-top: 6px;
  width: 40px;
}
