.filterstatus {
  padding: 20px 20px 0 20px;
}

div.selitem {
  padding: 4px 0;
}

div.opselect {
  position: absolute;
  top: 25px;
}

div.filterpanel {

  font-family: $info-font;
  font-size: 12px;
  margin: 0;

  .header {
    font-size: $headline;
    font-family: $data-font;
    span {
      color: $dark-color;
    }
  }
}

div.selectionpanel {

  font-family: $info-font;
  font-size: 12px;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #BEEFEF;
  background-color: $light-color;
  border-radius: 12px;

  .header {
    font-size: 16px;
    color: $select-color;
    font-family: $data-font;
    padding: 0 10px;

    span {
      color: $dark-color;
    }
  }

  .activefilter {
    border: none !important;
  }

  .x-toolbar-footer {
    padding: 0;
    margin-left: 0;
    margin-bottom: 8px;
  }
}

div.selectionfilter {
  position: relative;
  display: inline-block;
  width: 100%;
}

.closeitem {
  position: absolute;
  opacity: 0;
  right: 10px;
  margin-top: 4px;
  width: 10px;
  height: 10px;
  z-index: 5;
  border: 0;
  background-repeat: no-repeat;
  background: url(images/close.png);
  background-size: 10px 10px;
  cursor: pointer;
}

div.wrapitem {

  display: inline-block;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  select {
    margin: 8px 0 0 0;
  }

  &:hover {
    .closeitem {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.memberitem {

  float: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    .closeitem {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.grouprow {
  &:hover {
    .closeitem {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}

div.collapsed-member {
  width: 100%;
  padding: 4px 8px;
  font-size: 12px;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

div.plot-selection {
  width: 90%;
  padding: 4px 8px;
  font-size: 12px;
}

div.activefilter {
  position: relative;
  background-color: $light-color;
  border: 1px solid transparent;
  @include border-radius(12px);
  display: inline-block;
  width: 100%;
  padding: 3px 9px;
  margin-bottom: 6px;

  div.collapsed-member {
    padding: 0 10px;
  }

  div.plot-selection {
    padding: 0;
    width: 100%;
  }

  div.selitem {
    padding: 2px 5px 2px 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .sel-label {
    font-weight: bold;
  }

  div.status-over {
    border-color: transparent;
  }

  &:hover {

    border: 1px solid #dddcdc;

    .wholeitem {
      opacity: 0.5;
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}

ul.indent li {
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.filter-hdr-btn {
  margin-top: 6px;
  width: 40px;
}
