/* Connector.view.Selector */
.variable-selector {
  .header {
    background-color: $heat-scale-6;
    padding: 18px 48px;

    .main-title {
      @include dialogheader;
      font-size: 16px;
    }

    .sub-title {
      margin-top: 3px;

      .subject-count {
        position: absolute;
        right: 48px;
        bottom: 19px;
        color: $heat-scale-2;
        font-weight: bold;
      }

      .nav-text {
        color: $black;
        font-size: 14px;
        font-weight: bold;
        font-family: $info-font;
      }

      .back-action {
        color: $interactive-color;

        .arrow {
          background-image: url(images/navigatebackward.svg);
          width: 16px;
          position: absolute;
          left: 32px;
          bottom: 20px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .section-title {
        padding-left: 24px;
        color: $black;
        font-size: 20px;
        @include header;
      }
    }
  }

  .footer {
    background-color: $heat-scale-6;
    padding: 18px 48px;
  }

  .content {
    background-color: $light-color;
    padding: 10px 40px;

    .look-disabled {
      color: $heat-scale-3;
    }

    .content-item {
      height: 25px;
      padding: 7px 8px 0 8px;
      font-family: $info-font;

      &:hover {
        background-color: $selectongrey-color;
        cursor: pointer;
      }
    }

    .content-selected, .content-selected:hover {
      background-color: $select-color;
      color: $light-color;
    }
  }

  .advanced {
    background-color: $heat-scale-5;
    padding: 18px 48px;

    .x-panel-body {
      background-color: transparent;

      .x-field-label-cell {
        vertical-align: middle;
      }

      .x-form-item-label {
        color: $heat-scale-1;
      }

      .x-form-display-field {
        background-color: #FFFFFF;
        margin-top: 4px;
        padding: 8px 16px 7px 16px;
        border-radius: 20px;
        cursor: pointer;

        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        .label {
          color: $black;
        }

        .sublabel {
          color: $heat-scale-2;
        }

        .empty {
          color: $interactive-color;
        }

        .icon {
          width: 12px;
          float: right;
          background-image: url(images/dropdown_expand.svg);
          background-size: 12px;
          background-repeat: no-repeat;
        }
      }

      .hierarchical .x-form-display-field .icon {
        background-image: url(images/navigateforward.svg);
      }
    }
  }
}
