// Colors
$background-color: #f5f5f5;

$navigation-pink: #ed365e;
$navigation-pink-hover: #dd133f;
$navigation-grey: #212121;
$intro-light-grey: #d2d2d2;
$intro-background-grey: #E0E1E2;
$intro-video-background: #F2F2F2;

$dark-text: #2d2d2d;
$light-grey-text: #6e6e6e;
$lighter-grey-text: #969696;


$max-width: 1280px;
$tablet-width: 700px;
$phone-width: 480px;
$fullpage-navigation-max-width: 800px;
