/* General button*/
a.x-btn {
  &:hover, &:active {
    text-decoration: none;
  }
}

/* Connector.button.RoundedButton */
@include extjs-button-ui (
  $ui: 'rounded-small',

  $border-radius : 15px,

  $background-color: $secondary-color,
  $background-color-focus: darken($secondary-color, 8),
  $background-color-over: darken($secondary-color, 8),

  $border-width : 2px,
  $border-color: #FFFFFF,
  $border-color-over: $light-color,
  $border-color-focus: $light-color,
  $border-color-pressed: $dark-color,
  $border-color-disabled: $dark-color,

  $text-padding: 5px,

  $color: $dark-color,
  $color-disabled: $dark-color,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 15px,
  $glyph-color : #FFFFFF
);

@include extjs-button-ui (
  $ui: 'rounded-accent-small',

  $border-radius : 15px,
  $background-color: $interactive-color,
  $background-color-over: opacify($interactive-color, 0.4),
  $border-width : 0px,
  $text-padding: 5px,
  $color: $heat-scale-4,
  $color-disabled: $heat-scale-4,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 10px,
  $glyph-color : #FFFFFF
);

@include extjs-button-ui (
  $ui: 'darkrounded-small',

  $border-radius : 15px,

  $background-color: $heat-scale-2,
  $background-color-pressed: $heat-scale-1,
  $background-color-over: $heat-scale-1,
  $background-color-disabled: $heat-scale-4,

  $border-width : 0px,
  $border-color: $heat-scale-2,
  $border-color-over: $heat-scale-1,
  $border-color-pressed: $heat-scale-1,
  $border-color-disabled: $heat-scale-4,

  $text-padding: 8px,

  $color: $light-color,
  $color-over: $light-color,
  $color-disabled: $heat-scale-3,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 15px,
  $glyph-color : #FFFFFF
);

.x-btn-darkrounded-small {
  padding: 5px 5px 4px 5px;
  background-image: none;
  height: 24px;
}

.x-btn-darkrounded-small-disabled {
  cursor: default;
}

/* Connector.button.DropDownButton */
@include extjs-button-ui (
  $ui: 'dropdown-small',

  $border-radius : 16px,

  $background-color: $interactive-color,
  $background-color-over: $light-color,

  $border-width : 0px,
  $border-color: #FFFFFF,
  $border-color-over: $light-color,
  $border-color-focus: $light-color,
  $border-color-pressed: $dark-color,
  $border-color-disabled: $dark-color,

  $color: $light-color,
  $color-over : $interactive-color,
  $color-disabled: $dark-color,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 18px,
  $glyph-color : #FFFFFF
);

.x-btn-dropdown-small {
  height: 24px;
  width: 24px;
  padding: 3px 0px 0px 1px;

  .x-btn-arrow {
    background-image: none;
  }
}

.x-btn-dropdown-small-icon button,
.x-btn-dropdown-small-icon .x-btn-inner,
.x-btn-dropdown-small-noicon button, .x-btn-dropdown-small-noicon .x-btn-inner {
  height: 21px;
  line-height: normal;
}

.x-btn-dropdown-small-hld {
  background-color: $light-color;

  span.x-btn-inner {
    color: $interactive-color;
  }
}

@include extjs-button-ui (
  $ui: 'dropdown-alt-small',

  $border-radius : 16px,

  $background-color: $interactive-color,
  $background-color-over: $light-color,

  $border-width : 0px,
  $border-color: #FFFFFF,
  $border-color-over: $light-color,
  $border-color-focus: $light-color,
  $border-color-pressed: $dark-color,
  $border-color-disabled: $dark-color,

  $color: $light-color,
  $color-over : $interactive-color,
  $color-disabled: $dark-color,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 12px,
  $glyph-color : #FFFFFF
);

.x-btn-dropdown-alt-small {
  height: 17px;
  width: 17px;
  padding: 1px;

  .x-btn-arrow {
    background-image: none;
  }
}

.x-btn-dropdown-alt-small-icon button,
.x-btn-dropdown-alt-small-icon .x-btn-inner,
.x-btn-dropdown-alt-small-noicon button,
.x-btn-dropdown-alt-small-noicon .x-btn-inner {
  height: 22px;
  line-height: normal;
}

.x-btn-dropdown-alt-small-hld {
  background-color: $light-color;

  span.x-btn-inner {
    color: $interactive-color;
  }
}

@include extjs-button-ui (
  $ui: 'linked-small',

  $border-radius : 0px,
  $border-width : 0px,
  $border-color: transparent,
  $border-color-over: transparent,

  $background-color: transparent,
  $background-color-over: transparent,

  $text-padding: 0px,

  $color: $interactive-color,
  $color-over: $interactive-color,
  $color-disabled: $heat-scale-4,

  $font-weight: normal,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 12px,
  $glyph-color : #FFFFFF
);

@include extjs-button-ui (
  $ui: 'linked-ul-small',

  $border-radius : 0px,
  $border-width : 0px,
  $border-color: transparent,
  $border-color-over: transparent,

  $background-color: transparent,
  $background-color-over: transparent,

  $text-padding: 0px,

  $color: $interactive-color,
  $color-over: $interactive-color,
  $color-disabled: $heat-scale-4,

  $font-weight: normal,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 12px,
  $glyph-color : #FFFFFF
);

.x-btn-linked-ul-small .x-btn-inner {
  text-decoration: underline;
}

@include extjs-button-ui (
  $ui: 'rounded-inverted-accent-small',

  $border-radius : 16px,

  $background-color: $interactive-color,
  $background-color-over: $interactive-color,
  $background-color-disabled: $heat-scale-4,

  $border-width : 0px,
  $border-color: #ffffff,
  $border-color-over: $light-color,
  $border-color-focus: $light-color,
  $border-color-pressed: $dark-color,
  $border-color-disabled: $light-color,

  $color: $light-color,
  $color-over : #ffffff,
  $color-disabled: $light-color,

  $font-size : 12px,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 12px,
  $glyph-color : #FFFFFF
);

.x-btn-rounded-inverted-accent-small {
  padding: 6px 12px 4px 12px!important;
  background-image: none;
  height: 24px;
}

@include extjs-button-ui (
  $ui: 'rounded-inverted-accent-icon-small',

  $border-radius : 15px,
  $border-width : 2px,
  $border-color: #F5D9B3,
  $border-color-over: $info-color,

  $background-color: $light-color,
  $background-color-over: opacify($info-color, 0.4),

  $text-padding: 0px,

  $color: $info-color,
  $color-over: $light-color,
  $color-disabled: $heat-scale-4,

  $font-size : 12px!important,
  $font-family: $info-font,
  $font-family-over: $info-font,
  $font-family-focus: $info-font,
  $font-family-pressed: $info-font,
  $font-family-disabled: $info-font,

  $icon-size : 15px,
  $glyph-color : #FFFFFF
);

.x-btn-rounded-small,
.x-btn-rounded-accent-small {
  padding: 5px 5px 4px 5px;
  background-image: none;
  border-width: 0px;
}

.x-btn-rounded-small.contrast {
  border: 2px solid black;
  background-color: black;

  span {
    color: $light-color;
  }

  &:hover {
    border: 2px solid $light-color;
    background-color: $light-color;
    span {
      color: black;
    }
  }
}

.x-btn-rounded-small-disabled.contrast:hover,
.x-btn-rounded-small-disabled.contrast:hover span {
  background-color: transparent;
  color: $dark-color;
}


.x-btn-rounded-accent-small-over {
  opacity: 0.9;
}

.x-btn-rounded-small-noicon button,
.x-btn-rounded-accent-small-noicon button {
  height: 22px;
}

.x-btn-rounded-small-noicon .x-btn-inner {
  height: 22px;
}

.x-btn-arrow {
  background-image: none;
}

/* This is for inputs who apply the button classes (e.g. login form). There is probably a better way. */
input:-webkit-autofill {
  background-color: #fff !important;
}

input.x-btn-rounded-inverted-accent-small {
  padding: 4px 12px 4px 12px!important;
  color: #ffffff;
  font-weight: normal;
  font-size: 12px;
  font-family: $info-font;

  &:hover {
    &.enabled {
      opacity: 0.9;
      color: #ffffff;
    }
  }
}

.x-btn-rounded-inverted-accent-small {
  background-image: none;
}

.x-btn-rounded-inverted-accent-small-over {
  opacity: 0.9;

  svg {
    fill: $light-color;
  }
}

.x-btn-rounded-inverted-accent-icon-small {
  padding: 0px 4px 1px 2px;
  top: 0px;

  .info {
    top: -4px;
    background-image: url(images/info.png);
    background-size: 15px 15px;
  }
}

.x-btn-rounded-inverted-accent-icon-small-over {

  .info {
    top: -4px;
    background-image: url(images/infoover.png);
    background-size: 15px 15px;
  }
}

.x-btn-rounded-inverted-accent-icon-small-over {
  opacity: 0.9;
}

.x-btn-rounded-inverted-accent-icon-small:hover {
  background-color: $info-color;
  border-color : $info-color;

  .x-btn-inner {
    color: $light-color;
  }

  .icon {
    background-image: url(images/infoover.png);
  }
}

button.imgbutton {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(images/dropdown.svg);
}

button.imgbuttonover,
button.imgbutton-menubuttonover {
  background-image: url(images/dropdown_hover.svg);
}

.yaxisbutton {
  position: absolute;
}