.x-boundlist {
  border-color: $heat-scale-3;
}

.x-boundlist-selected {
  background: $select-color;
  border-color: $select-color;
  color: $gray-7;
}

.x-boundlist-item-over {
  background: $select-color;
  border-color: $select-color;
  color: $gray-7;
}