span.statme {
  display: inline-block;
  padding: 0;
  margin: 0 0 -2px 0;
}

span.status-label {
  float: left;
  text-transform: capitalize;
  background-color: #ebebeb;
  position: relative;
  padding-right: 4px;
  font-size: 12px;
}

span.status-count {
  background-color: #f0f0f0;
  position: relative;
  padding-left: 4px;
  font-size: 12px;
}

span.hl-status-label {
  float: left;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  background-color: #ebebeb;
  position: relative;
  padding-right: 4px;
}

span.hl-status-count {
  font-size: 12px;
  font-weight: normal;
  background-color: #f0f0f0;
  position: relative;
  padding-left: 4px;
}

span.hideit {
  display: none !important;
}

span.status-subcount {
  color: $select-color;
}

span.status-of {
  color: #ccc;
}

ul.detailstatus {
  font-family: $bodycaps-font;
  padding: 0;

  li {
    text-align: right;
    margin: -6px 4px 0 4px; /* note if this changes, modify marign on div.status-row */
  }
}

div.status-row {
  li {
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 4px 8px;
    margin: 0 0 0 0px; /* note if this changes, modify margin on ul.detailstatus li */
    line-height: 16px;
    clear: both;
  }
}

div.hl-status-row {
  border-top: 1px solid #DDDCDC;
  border-radius: 0;
  margin-top: 12px;
  padding-top: 12px;
}

.memberitem {
  @include border-radius(15px);
  background-color: $light-color;
  border: 1px solid #DDDCDC;
  cursor: pointer;
  font-size: 12px;
}

div.status-over {
  li {
    @include border-radius(15px);
    background-color: $light-color;
    border: 1px solid #DDDCDC;
    cursor: pointer;

    span {
      &.status-label,
      &.status-count,
      &.hl-status-label,
      &.hl-status-count {
        background-color: $light-color;
      }
    }
  }
}

div.nolink.status-over {
  li {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: default;
    border-radius: 0;

    span {
      background-color: #ebebeb;
    }
  }
}
