span.statme {
  display: inline-block;
  padding: 0;
  margin: 0 0 -2px 0;
}

span.status-label {
  float: left;
  text-transform: capitalize;
  background-color: $white;
  position: relative;
  padding-right: 4px;
  font-size: 12px;
  opacity: 0.9;
}

span.status-count {
  background-color: $white;
  font-weight: 700;
  position: relative;
  padding-left: 4px;
  font-size: 12px;
}

span.hl-status-label {
  float: left;
  font-size: 12px;
  font-weight: normal;
  text-transform: capitalize;
  background-color: $white;
  position: relative;
  padding-right: 4px;
  opacity: 0.9;
}

span.hl-status-count {
  font-size: 12px;
  font-weight: 700;
  background-color: $white;
  position: relative;
  padding-left: 4px;
}

span.hideit, div.hideit {
  display: none !important;
}

span.status-subcount {
  color: $data-green !important;
}

span.status-of {
  color: #ccc;
}

.detailstatuslist {
  background: $white;
  border-bottom: 4px solid $gray-6;
}

ul.detailstatus {
  font-family: $bodycaps-font;
  padding: 0 0 36px 0;

  li {
    text-align: right;
    margin: 0px; /* note if this changes, modify marign on div.status-row */
  }
}

div.status-row {
  li {
    @include prefixer(border-radius, 2px);
    padding: 0 14px 0 12px;
    margin: 2px 6px 2px 10px; /* note if this changes, modify margin on ul.detailstatus li */
    line-height: 24px;
    height: 24px;
    overflow: auto;

    span {
      color: $black;
    }
  }
}

div.hl-status-row {
  border-radius: 0;
  border-top: 1px solid $gray-6;
  padding-top: 24px;
  margin-top: 24px;
}

div.hl-status-row:first-child {
  margin-top: 0!important;
}

div.status-over {
  li {
    @include prefixer(border-radius, 2px);
    @include prefixer(transition, background 0.3s linear);
    background-color: $gray-7;
    cursor: pointer;

    span {
      &.status-label,
      &.status-count,
      &.hl-status-label,
      &.hl-status-count {
        background-color: transparent;
      }
    }
  }
}

div.nolink.status-over {
  li {
    cursor: default;
    @include prefixer(border-radius, 2px);
    background-color: $white;

    span {
      background-color: $white;
    }
  }
}
