.gridaxiswindow {
  &:after, &:before {
    border: 12px solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
    left: 215px;
  }

  .x-column-header-over {
    background-color: $select-color;
  }

  .definitionpanel {
    height: 175px;
  }
}
