.connectorheader {

  .logo {
    @include headline;

    h2 {
      float: left;
      padding: 20px 0 0 12px;
      font-family: $bodycaps-font;
      font-weight: bold;
      font-size: 14px;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-weight: normal;
      opacity: 0.95;
    }

    img {
      width: 56px;
      padding-top: 0;
      height: 56px;
      display: block;
      float: left;
      margin-left: 0;
      background: $action-red;
    }
  }

  .logout {
    a {
      color: $gray-7;
    }

  }
}

.headline {
  text-transform: none;
  font-family: $bodycaps-font;
  font-size: 12px;
}

.connectorheader-collapse .logo span {
  color : $select-color;
}

.connectorheader, .connectorheader-collapse {
  background-color: $black;
  color : $gray-7;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($black), to($dark-color)); // TODO: Change to compass
  background: -moz-linear-gradient(left, $black,  $dark-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333',GradientType=1);
}

.announcementheader {

  .notification-messages {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color : #303030;
  }
}
