.connectorheader {

  .logo {
    @include headline;

    h2 {
      float: left;
      padding: 24px 0 0 10px;
      font-family: $bodycaps-font;
      font-weight: bold;
      font-size: 12px;

      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-weight: normal;
    }

    img {
      width: 20px;
      padding-top: 20px;
      height: 40px;
      display: block;
      float: left;
      margin-left: 24px;
    }
  }
}

.headline {
  text-transform: none;
  font-family: $bodycaps-font;
  font-size: 12px;
}

.connectorheader-collapse .logo span {
  color : $select-color;
}

.connectorheader, .connectorheader-collapse {
  background-color: $black;
  color : $light-color;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($black), to($dark-color)); // TODO: Change to compass
  background: -moz-linear-gradient(left, $black,  $dark-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333',GradientType=1);
}
