.infopane {
  background-color: $white;
  font-size: 12px;
  padding: 24px 16px!important;
  margin: 6px!important;
  width:230px!important;
  @include prefixer(border-radius, 2px);
  @include prefixer(box-shadow, 0 1px 0 0 $gray-6);

  h2 {
    font: $infopane-font;
    margin-bottom: 24px;
  }

  .imgbutton {
    width: 16px!important;
    height: 16px!important;
    top: 30px!important;
    left: 175px!important;
  }

  .label {
    font-size: 12px;
    text-transform: none;
    display: block;
    color: $gray-25;
    margin-bottom: 4px;
  }

  .sorter {
    span.sorter-label {
      font-size: 12px;
      text-transform: none;
      display: block;
      color: $gray-25;
      padding: 0 0 4px 0;
    }

    span.sorter-content {
      font-size: 12px;
      margin: 4px 0 20px 0;
      padding: 4px 8px;
      display: block;
      @include prefixer(border-radius, 2px);
      background-color: $white;
      border: 1px solid $gray-6;
      line-height: 22px;
      height: 32px;
      width:200px;
    }

    @include smallStandout;
  }
}

.plot-type-label {
  color: $heat-scale-1;
  padding-top: 12px;
}

.plot-source-label {
  color: $heat-scale-2;
}

.plot-variable-label {
  font-weight: bold;
}

.fader {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  height: 60px;
  background-color: transparent;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr=$gray-7,GradientType=0 );

  .ellipse {
    position: absolute;
    background: url(images/ellipsis.png) no-repeat;
    width: 20px;
    height: 8px;
    opacity: 0.6;
    right: 50%;
    bottom: 2px;
  }
}

.x-grid-data-row:hover .expando {
  visibility: visible;
}

a.expando {
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;

  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 0;
  visibility: hidden;
  float: right;
  border-radius: 2px;
  border: 2px solid $interactive-color;
  width: 17px;
  height: 17px;
  padding: 0px 0px 0px 8px;

  .icontext {
    display: none;
    color: $interactive-color;
  }

  .iconone {
    position: absolute;
    right: 0px;
    width: 14px;
    height: 13px;
    background-image: url(images/infoover.png);
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }

  &:hover {
    background-color: $interactive-color;
    cursor: pointer;

    width: 105px;

    .icontext {
      display: inline;
      color: $gray-7;
    }
  }
}

.infosortmenu.x-menu {
  @include prefixer(border-radius, 2px);
  border: 1px solid $gray-6;
  width:200px;
  right: 32px;

  .x-menu-body {
    background: $white;

    .x-menu-item {
      color: $gray-3  ;
      height:32px;
      padding: 4px 0;
      line-height: 24px;
    }

    .x-menu-item-active {
      @include prefixer(border-radius, 2px);
      outline: none;
      background: $gray-7;
      color: $black;
      opacity: 1.0!important;
      border: 0 solid transparent;

      .x-menu-item-text {
        color: $black;
      }
    }
  }

}
