.learnheader {

  .titlepanel {
    font: $title-font;
    background: $gray-7;
    height: 56px;
    line-height: 56px;
    padding-left: 16px;
  }

  .breadcrumb {
    font-weight: 400;
    color: $gray-25;
    text-transform: uppercase;
    float: left;
    padding-right:4px;
  }

  .studyname {
    font-weight: 100;
    font-size: 22px;
    font-family: $data-font;
    color: $black;
    float: left;
  }

  .iarrow {
    background-image: url(images/navigatebackward.svg);
    background-repeat: no-repeat;
    background-color: $gray-8;
    width: 56px;
    height: 56px;
    margin: 0 16px 0 -16px;
    vertical-align: bottom;
    float: left;
  }
}

div.learnview {

  /**
    * css solution for multiline text ellipsis
    * Solution from
    *http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
   */
  /* styles for '...' */
  .block-with-text {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative;
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 3.6em;
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;
    /* place for '...' */
    margin-right: -1em;
    padding-right: 1em;
  }
  /* create the ... */
  .block-with-text:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
  }
  /* hide ... if we have text, which is less than or equal to max lines */
  .block-with-text:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background: $gray-8;
  }

  .module {
    padding-bottom: 28px;
  }

  .x-grid-locked{
    .x-grid-inner-locked {
      border-width: 0px;
      border-style: none;
    }
  }
}

.learn-data-available-module {
  .x-panel-body-default {
    border-width: 0;
  }
  .learnmodulegrid {
    .x-grid-header-ct {
      border-width: 0!important;
    }

    .x-grid-body {
      border-style: none;
      border-color: $gray-8;
      border-width: 0px;
    }

    .x-grid-cell-inner {
      padding: 0 0 0 2px!important;
    }

    .x-grid-row-before-focused .x-grid-td {
      border-bottom-style: none;
      border-bottom-color: $gray-8;
      border-bottom-width: 0px;
    }

    .x-grid-no-row-lines .x-grid-row-focused .x-grid-cell-inner {
      padding: 3px 6px 4px 6px;
    }

    .x-grid-row-focused .x-grid-td {
      border-bottom-style: none;
      border-bottom-color: $gray-8;
      border-bottom-width: 0px;
    }
    .x-grid-row-selected .x-grid-td {
      color: #303030;
      background-color: $gray-8;
    }
    .x-grid-row-focused .x-grid-td {
      background-color: $gray-8;
    }
    .x-grid-row-selected .x-grid-td {
      border-bottom-style: none;
      border-bottom-color: $gray-8;
    }
    .x-grid-cell {
      font: normal .933/1 Arial, sans-serif;
      background-color: $gray-8;
      border-color: $gray-8;
      border-style: none;
    }
    .x-grid-td {
      overflow: hidden;
      border-width: 0;
      vertical-align: middle;
    }
  }
}

.module {
  .groupheader {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $bodycaps-font;
    font-weight: bold;
    padding: 8px 0 !important;
    opacity: 0.5;
  }

  h3 {
    padding-bottom: 12px;
    clear: both;
    font-size: 18px;
    color: $black;
  }

  h4 {
    padding-top: 1em;
    clear: both;
    font-size: 13px;
    color: $black;
  }

  .schema-link {
    padding-bottom: 8px;
  }

  p {
    color: $black;
    font: $body-two-font;
    margin-right: 5%;

    &.loading-data {
      color: $unselect-black;
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 16px;
    margin-right: 5%;
    line-height: 16px;
  }

  ol {
    list-style-position: outside;
    padding-left: 16px;
    margin-right: 5%;
    line-height: 16px;
  }

  .disabled {
    color: $unselect-black;
  }

  .checkbox {
    color: $unselect-black;
    width: 11px;
    height: 19px;
    float: left;
  }

  .item-row {
    min-height: 19px;
    padding: 2px 0;
  }

  &.assaylist {
    .item-row.interactive {

      padding-left: 3px;
      cursor: pointer;

      &:hover {
        background-color: $select-color;
        color: $gray-7;
      }
    }
  }
}

.modulecontainer {
  position: relative;
}

.modulecontainercolumn {
  padding-left: $pageLeftPadding;
  padding-top: $sectionTopPadding;
}

div.learncolumnheader {
  padding-top: $pageLeftPadding;
  padding-bottom: 12px;
  margin-left: $pageLeftPadding;
  margin-right: $pageLeftPadding;
  border-bottom: 1px solid $gray-6;
  overflow: auto;
  font: 12px;
  color: $heat-scale-2;
  text-transform: uppercase;
}

div.learn-map-container {
  height: 340px;
  margin-bottom: 4px;
}

h1.lhdv {
  float: left;
  margin-right: 28px;
  color: $gray-4;
  font-size: 18px;
  height:56px;
  line-height:56px;
  border-bottom: 1px solid transparent;

  &:hover {
    cursor: pointer;
    border-color: $gray-4;
    @include prefixer(transition, border-color 0.3s linear);
    @include prefixer(transition, color 0.3s linear);

  }

  &.active {
    color: $black;
    border-color: $action-red;
    @include prefixer(transition, border-color 0.3s linear);
    @include prefixer(transition, color 0.3s linear);

    &:hover {
      cursor: default;
      border-color: $action-red-hover;
    }
  }
}

.headerlock {
  position: absolute;
  top: 0;
}

.pageheader {
  height: 112px!important;
  padding-left: 16px;

  .title-and-back-panel {
    font: $title-font;
    background: $gray-7;
    height: 56px;
    line-height: 56px;
  }
}

.detail-left-column {
  width: 60%;
  float: left;
}

.detail-small-column {
  width: 10%;
  float: left;
}

.detail-medium-column {
  width: 30%;
  float: left;
}

.detail-large-column {
  width: 50%;
  float: left;
}

.detail-has-data {
  background-size: 44px;
  background-repeat: no-repeat;
  width: 44px;
  height: 50px;
  margin-left: 20px;
  &.detail-has-data-gray {
    background-image: url(images/learn/grayCheck.png);
  }
  &.detail-has-data-green {
    background-image: url(images/learn/bigCheck.png);
  }
}

img.detail-has-data-small {
  margin-right: 10px;
  width: 20px;
  height: 20px
}

.data-availability-header {
  padding-bottom: 20px;
  color: $heat-scale-2;

  td:nth-child(even) {
    padding-right: 10px;
  }
}

.data-availability-tooltip-header {
  font-weight: bold;
  padding-bottom: 5px;
  color: black;
}

.learngrid {
  padding-right: $pageLeftPadding !important;
  padding-left: $pageLeftPadding !important;

  .x-grid-body {
    border-width: 0px;

    .x-grid-body {
      border-top-width: 1px;
    }
  }

  .x-column-header-text {
    color: $heat-scale-2;
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
  }

  .x-grid-header-ct {
    border: none !important;
  }

  .x-column-header {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
  }

  .detail-row-text {
    padding-top: $sectionTopPadding;
    padding-bottom: $sectionTopPadding;
  }

  .x-grid-td, .x-grid-row-selected .x-grid-td, .x-grid-row-focused .x-grid-td {
    background-color: $gray-8;
  }

  .x-column-header-inner {
    padding-top: $sectionTopPadding;
    padding-bottom: 12px;
  }

  .x-column-header-trigger {
    display: inline-block;
    border-left: 1px solid transparent;
  }

  .x-column-header-sort-ASC,
  .x-column-header-sort-DESC {
    background-image: none;
    background-color: $secondary-color;
  }

  .x-column-header-sort-ASC .x-column-header-text {
    background-image: url(images/sort_asc.gif) !important;
    background-position-x: calc(100% - 10px)
  }

  .x-column-header-sort-DESC .x-column-header-text {
    background-image: url(images/sort_desc.gif) !important;
    background-position-x: calc(100% - 10px)
  }

  .x-column-header-trigger {
    background-color: transparent;
    background-image: none;
    &:hover {
      background-image: url(images/filter_hover.svg);
    }
  }

  .x-column-header-over {
    .x-column-header-trigger {
      background-color: transparent;
      background-image: url(images/filter.svg);

      &:hover {
        background-image: url(images/filter_hover.svg);
      }
    }
  }

  .filtered-column {
    .x-column-header-trigger {
      background-color: transparent;
      background-image: url(images/filter_selected.svg);

      &:hover {
        background-image: url(images/filter_selected_hover.svg);
      }
    }
  }

  .detail-row {
    margin-bottom: 8px;
    border-bottom: 1px solid $heat-scale-4;
    overflow: hidden;
    height: 125px;

    .x-grid-cell {
      padding: 24px 0px 12px 16px;
    }

    .x-grid-cell-inner {
      height: 88px;
      overflow: hidden;
      padding: 0px;
      position: relative;
      text-overflow: clip;
      white-space: normal;
    }

    .detail-description {

      h2 {
        font: $headline-font;
      }

      .detail-type-text {
        font: $body-one-font;
        color: $heat-scale-2;
      }

      .detail-description-text {
        padding-top: 12px;
        font: $body-one-font;
        color: $heat-scale-1;
        margin-right: 5%;

        ol {
          padding-left: 24px;
        }

        .data-availability-text {
          padding-bottom: 12px;
        }
      }
    }

    .detail-text {
      font: $body-one-font;

      .detail-gray-text {
        color: $heat-scale-1;
      }

      .detail-black-text {
        color: $black;
      }

      td:nth-child(1) {
        padding-right: 1em;
      }
    }
  }
  .detail-row-has-data {
    .x-grid-td, .x-grid-td .block-with-text:after{
      background-color: $gray-9;
    }
  }

  .detail-row-hover {
    .x-grid-td, .x-grid-td .block-with-text:after{
      @include transition(background-color 0.2s ease-out);
      background-color: $select-hover-color;
      cursor: pointer;
    }
  }

  .x-grid-empty {
    background-color: $gray-8;
    position: fixed;
    top: 305px; //height of header
    padding-right: 243px; //width of infopane


    .detail-empty-text {
      color: black;
      height: 60px;
      font: $display-two-font;
    }
  }
}

.variable-list-grid {
  padding-top: 16px!important;

  .variable-list-category-container {
    height: 24px;

    .variable-list-category-text {
      padding-top: 5px;
      font: $subhead-font;
      color: $heat-scale-1;
    }
  }

  .variable-list-title {
    width: 60%;
    h2 {
      font: $headline-font;
    }
  }

  .variable-list-row {
    height: 123px;
    border-bottom: 1px solid $heat-scale-4;
    overflow: hidden;

    .x-grid-cell-inner {
      padding: 0px;
      white-space: normal;
    }
  }

  .variable-list-description {
    width: 60%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: $heat-scale-1;
    font: $body-one-font;
  }
}

.learn-header-bar {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 28px 0 28px;
  overflow: visible!important;
}

.learn-search-input {
  margin: 14px 28px;

  input {
    height: 34px;
    font-size: 12px;
    border-radius: 2px;
    border-color: $gray-7!important;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

  }
  input.x-form-focus {
    border-color: $gray-6!important;
    color: $black;
  }
}

.learn-study-info {

  tr > td {
    padding-bottom: 1em;
    vertical-align: top;

    &.item-label {
      color: $secondary-text-color;
      padding-right: 1em;
      width: 130px;
    }
  }
}

.reportinfo {
  font-family: Georgia, serif;
  .reportinfoheader {
    font-size: 18px;
    padding-bottom: 5px;
  }
  .reportinfoname {
    width: 120px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
  }
  .reportinfovalue {
    font-size: 16px;
  }

}

.reportView {
  padding-top: $sectionTopPadding;
  width: 100% !important;
  background-color: white;
  padding-left: $pageLeftPadding;
}

.reportContent {
  padding-left: 28px;
  padding-top: 10px;
  background-color: #ffffff;
}

.learnpageheader {
  background-color: $gray-7;
}

.learnFilter {
  .imgbutton {
    width: 21px!important;
    height: 21px!important;
    top: 26px!important;
    left: 228px!important;
  }

  .sorter {
    span.sorter-label {
      font-size: 12px;
      text-transform: none;
      display: block;
      color: $gray-25;
      padding: 0 0 4px 0;
    }

    span.sorter-content {
      font-size: 12px;
      margin: 4px 0 20px 0;
      padding: 4px 8px;
      display: block;
      @include prefixer(border-radius, 2px);
      background-color: $white;
      border: 1px solid $gray-6;
      line-height: 22px;
      height: 32px;
      width: 253px;
    }

    @include smallStandout;
  }
}
.learn-report-info {
  width: 100%;
  padding-left: $pageLeftPadding;
}

.learn-report-header-column {
  width: 50%;
  padding-right: 10px;
}

.reportmodulecontainer {
  padding-top: $sectionTopPadding;
}

.reportlearngridlocked {
  .detail-row {
    .x-grid-cell {
      padding: 13px 0 13px 16px;
    }
  }

  .detail-row-text {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.reportlearngrid
{
  .detail-row{
    .x-grid-cell-inner {
      white-space: normal;
      padding: 4px 0 16px 0px;
    }
  }

  .detail-row-text {
    padding: 0px;
  }
}

.antigengrid
{
  padding-left: $pageLeftPadding!important;
  padding-right: 42px!important;
  padding-top: 16px!important;

  .x-grid-empty
  {
    top: 255px;
  }

  .detail-row {
    height: 123px;
    .detail-description {
      height: 74px;
    }
  }
  .antigen-description {
    padding-top: 12px;
    padding-bottom: 12px;
    color: $heat-scale-1;
    font: $body-one-font;
  }
  .x-column-header-trigger {
    height: 22px;
  }
  .x-grid-header-ct {
    .x-box-inner {
      border-bottom: 2px solid $heat-scale-4;
    }
  }
  .x-column-header-inner {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .x-column-header-text {
    padding-bottom: 12px;

    overflow: auto;
    font: $subhead-font;
    color: $heat-scale-2;
    text-transform: uppercase;
  }
}
