div.learnview {
  .module {
    padding-bottom: 28px;
  }
}

.module {
  .groupheader {
    text-transform: uppercase;
    font-size: 12px;
    font-family: $bodycaps-font;
    font-weight: bold;
    padding: 8px 0 !important;
    opacity: 0.5;
  }

  h3 {
    padding-bottom: 16px;
    clear: both;
    font-size: 18px;
    color: $black;
  }

  p {
    color: #black;
    font-size: 12px;
    margin-right: 5%;
    line-height: 16px;

    &.loading-data {
      color: $unselect-black;
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: disc;
    padding-left: 16px;
    margin-right: 5%;
    line-height: 16px;
  }

  ol {
    list-style-position: outside;
    padding-left: 16px;
    margin-right: 5%;
    line-height: 16px;
  }

  .disabled {
    color: $unselect-black;
  }

  .checkbox {
    color: $unselect-black;
    width: 11px;
    height: 19px;
    float: left;
  }

  .item-row {
    min-height: 19px;
    padding: 2px 0;

  }

  &.assaylist {
    .item-row.interactive {

      padding-left: 3px;
      cursor: pointer;

      &:hover {
        background-color: $select-color;
        color: $light-color;
      }
    }
  }
}

.modulecontainer {
  position: relative;
}

.modulecontainercolumn {
  padding-left: $pageLeftPadding;
  padding-top: $sectionTopPadding;
}

div.learncolumnheader {
  padding-top: $pageLeftPadding;
  padding-bottom: 12px;
  margin-left: $pageLeftPadding;
  margin-right: $pageLeftPadding;
  border-bottom: 2px solid $heat-scale-4;
  overflow: auto;
  background-color: #fff;
}

div.learn-map-container {
  height: 340px;
  margin-bottom: 4px;
}

h1.lhdv {
  float: left;
  font-weight: normal;
  padding-right: 28px;
  color: $select-color;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: $primary-text-color;

    &:hover {
      cursor: default;
    }
  }
}

.headerlock {
  position: absolute;
  top: 0;
}

.pageheader {
  border-bottom: 2px solid $heat-scale-4;
}

div.detail-wrapper {
  padding: 0 $pageLeftPadding;

  .detail-container {
    padding: 24px 0;

    .study-description {
      height: 123px;
      overflow:hidden;

      h2 {
        font-size: 18px;
      }
    }
  }

  &:hover {
    @include transition(background-color 0.2s ease-out);
    background-color: $select-hover-color;
    cursor: pointer;
  }
}

div.detail-container {
  width: 100%;

  div.detail-header {
    font-size: 11px;
    color: $heat-scale-2;
    font-weight: bold;
    text-transform: uppercase;
  }
}

div.list-container {
  padding-right: $pageLeftPadding + 17px; /* 17px is the width of the scroll bar */

  div.list-entry-container {
    min-height: 123px;
    border-bottom: 1px solid $heat-scale-4;
    overflow: hidden;
    font-family: $info-font;

    div.list-entry-title{
      width: 60%;
      h2 {
        font-size: 18px;
      }
    }

    div.list-entry-description {
      width: 60%;
      padding-top: 12px;
      padding-bottom: 12px;
      color: $heat-scale-1;
    }
  }

  div.list-category-container {
    height: 24px;

    div.list-category-detail {
      padding-top: 5px;
      font-weight: bold;
      color: $heat-scale-1;
    }
  }
}

/* TODO: The Following study- selectors need to be renamed */
div.study-detail {
  height: 170px;
  border-bottom: 1px solid $heat-scale-4;
  overflow: hidden;

  &:hover {
    border-color: transparent;
  }
}

div.study-description {
  width: 60%;
  float: left;
  font-family: $info-font;

  .phase-text {
    font-size: 12px;
    color: $heat-scale-2;
  }

  .description-text {
    padding-top: 12px;
    font-size: 12px;
    line-height:15px;
    color: $heat-scale-1;
    margin-right: 5%;

    ol {
      padding-left: 24px;
    }
  }
}

div.study-date {
  width: 20%;
  float: left;
  padding-right: 10px;
  font-family: $info-font;
  font-size: 12px;

  .startdate-text {
    display: block;
  }

  .enddate-text {
    display: block;
    color: $heat-scale-1;
  }

  .date-diff-text {
    color: $heat-scale-1;
  }
}

div.study-treatments {
  width: 20%;
  float: right;
  font-family: $info-font;
  font-size: 12px;
  color: $heat-scale-1;
}

.learn-search-input {
  clear: both;
  display: block;
  margin: 80px 0 12px 0;
  width: 60%;

  tbody,
  tr,
  td.x-form-item-body {
    display: block;
    width: 100%!important;
  }

  input {
    width: 560px;
    padding: 16px 12px;
    font-size: 12px;
    border-radius: 5px;
  }
  input.x-form-focus {
    border-color: $heat-scale-2!important;
  }
}

.learn-study-info {

  tr > td {
    padding-bottom: 1em;
    vertical-align: top;

    &.item-label {
      color: #777777;
      padding-right: 1em;
      width: 90px;
    }
  }
}

