.navigation-view {
  padding: 16px 0 20px 0;
  font-family: $data-font;
  color: $primary-text-color;
  font-size: 16px;
}

div.nav-label, div.dis-label {
  padding-top: 4px;

  span.right-label {
    width: 240px;
    float: right;
    @include unselectable;
  }

  span.left-label {
    padding-left: 23px;
    @include unselectable;
  }
}

div.grouplist-label-over:after,
div.nav-label:after, div.dis-label:after{
  //This is a nifty class that self-clears any floats.
  content: '.';
  visibility: hidden;
  clear: both;
}

div.dis-label {
  opacity: 0.35;
  cursor: default;
}

div.nav-label-over {
  cursor : pointer;
}

div.emptytext span.left-label {
  padding-left: 23px;
}

div.grouplist-label-selected,
div.nav-label-selected {
  span {
    font-weight: normal;
    color: $light-color;

    &.left-arrow {
      position: relative;
      float: left;
      left: 0;
      top: 5px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 6px solid $light-color;
    }
  }
}
