.pageheadercontainer {
  position: relative;
  top: 0px;
  z-index: 10;

  .tabbutton {
    padding: 5px 20px;
    font-family: $bodycaps-font;
    font-size: 12pt;
    cursor: pointer;
    text-transform: uppercase;
    color: $black;
    opacity: 0.6;

    .arrow {
      display: none;
    }

    &.selected {
      font-weight: bold;
      cursor: inherit;
      opacity: initial;

      .arrow {
        display: block;
      }
    }
  }
}

/* Connector.view.PageHeader */
.arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -8px;
}
/* END Connector.view.PageHeader */
