.line {
  margin-left: $pageLeftPadding;
  height: 1px;
  background: $primary-color;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($heat-scale-2), to($primary-color));
  background: -moz-linear-gradient(45deg, $heat-scale-2, $primary-color);
}

.row {
  height: 19%;
  min-height: 50px;
  white-space: nowrap;
  min-width: 715px; /* 1024 - right pane width (305) */

  &:hover {
    @include transition(background-color 0.2s ease-out);
    @include single-box-shadow($heat-scale-2, -2px, 2px, 2px);
    @include border-radius(2px);
    background-color: $selectongrey-color;
    cursor: pointer;

    .line {
      background-color: transparent;
    }
  }
}

div.column {
  float: left;
}

div.endcolumn {
  float: none;
}

/* By column is the 'by Column' you see in Summary Display */
div.bycolumn {
  width : 43%;
  @include pagePaddingLeft;
  @include standout;

  .pp {
    color: $heat-scale-2;
  }
}

@media (max-width: 1500px) {
  div.bycolumn {
    font-size: 24pt;
  }
}

@media (max-width: 1200px) {
  div.bycolumn {
    font-size: 20pt;
  }
}

@media (max-width: 1100px) {
  div.bycolumn {
    font-size: $headline;
  }
}

/* Detail column is the middle column of the Summary Display */
div.detailcolumn {
  font-size: 10pt;
  width : 28%;
  white-space: pre-wrap;
  padding-top: 4px;

  a {
    &.nav:hover {
      color: $select-color;
      cursor: pointer;
    }
  }
}

div.totalcolumn {
  margin-left: 76%;
  font-weight: bold;
  white-space: pre-wrap;
  width: 15%;
}

div.showload {
  background: url(images/grid/loading.gif) no-repeat 15px;
  background-size: 20px;
}
