.line {
  height: 1px;
  background: transparent;
  padding-bottom: 24px;
  border-top: 1px solid $heat-scale-4;
}

.row {
  padding-left: $pageLeftPadding;
  padding-right: $pageLeftPadding;
  min-height: 120px;
  padding-bottom: 24px;
  white-space: nowrap;
  min-width: 715px; /* 1024 - right pane width (305) */

  &:hover {
    @include transition(background-color 0.2s ease-out);
    @include border-radius(2px);
    background-color: $selectongrey-color;
    cursor: pointer;

    .line {
      background-color: transparent;
      border-top-color: transparent;
    }
  }
}

div.column {
  float: left;
}

div.endcolumn {
  float: left;
}

/* By column is the 'by Column' you see in Summary Display */
div.bycolumn {
  width : 49%;
  @include standout;
  font-size: 26px!important;

  .pp {
    color: $heat-scale-2;
  }
}

/* Detail column is the middle column of the Summary Display */
div.detailcolumn {
  font-size: 12px;
  width : 20%;
  white-space: pre-wrap;
  padding-top: 13px;
  margin-right: 5%;

  a {
    &.nav:hover {
      color: $select-color;
      cursor: pointer;
    }
  }
}

div.totalcolumn {
  padding-top: 13px;
  font-weight: normal;
  width: 25%;
}
