.varselect .variable {
  display: inline-block;
}

.vardisable {
  opacity: 0.4 !important;
}

.varselect {

  margin-top: 4px;

  .variable {
    display: inline-block;

    h1 {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select:none;
      user-select:none;
      cursor: default;
    }

    ul {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 5px;

      li {
        font-family: $bodycaps-font;
        font-size: 12px;
        max-width: 250px;
        white-space: nowrap;
      }
    }
  }

  h1 {
    display: inline-block;
    color: $interactive-color;
  }
}

button.ddbutton {
  margin: 5px 0 0 10px;
}

.arrow-window {
  position: absolute;
  background-color: $light-color;
  border: 1px solid $heat-scale-3;

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0); // Make the border invisible except for the bottom.
    border-bottom-color: $light-color;
    border-width: 15px;
    margin-left: -15px;
  }

  &:before {
    border-color: rgba(0, 0, 0, 0); // Make the border invisible except for the bottom.
    border-bottom-color: $heat-scale-3;
    border-width: 16px;
    margin-left: -16px;
  }
}
