.connector-grid {

  .x-grid-data-row {
    line-height: 28px;
    height: 28px;
    background: $gray-8!important;

    td {
      background: transparent!important;
    }

    &:hover {
      background: $white;
      border-color: $white;
    }
  }

  .x-column-header-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .x-grid-view {
    z-index: 5;
    padding-bottom: 70px;
  }

  .x-column-header-trigger {
    display: inline-block;
    border-left: 1px solid transparent;
    background-image: url(images/filter.svg);

    &:hover {
      background-image: url(images/filter_selected.svg);
    }
  }

  .filtered-column {
    .x-column-header-trigger {
      background-color: transparent;
      background-image: url(images/filter_selected.svg);
    }
  }

  /* Group Headers */
  .x-group-header {

    border: 0;
    text-align: left;

    .x-column-header-inner {
      border-bottom: 2px solid $interactive-color;
      height: 50px;
    }

    .x-column-header-text {
      position: absolute;
      bottom: 5px;
      color: $interactive-color;
    }

    /* Group headers do not show trigger */
    .x-column-header-trigger {
      display: none;
    }
  }

  /* Column Headers */
  .x-group-sub-header {

    border: 0;

    .x-column-header-trigger {
      display: block;
      position: absolute;
      bottom: 0;
      top: inherit;
      height: 15px;
    }

    .x-column-header-inner {
      height: 40px;
      position: relative;
      background-color: transparent;
      border: 0;
    }

    .x-column-header-text {
      white-space: normal;
      position: absolute;
      left: 4px;
      bottom: 4px;
      margin: 0;
      width: 85%;
      text-align: justify;
      color: $heat-scale-2;
    }
  }

  /* Column Header Hovered */
  .x-column-header-over,
  .x-column-header-sort-ASC,
  .x-column-header-sort-DESC {
    background-image: none;
    background-color: $secondary-color;

    .x-column-header-text {
      color: $black;
    }
  }
}

/* Connector.window.Filter */
div.filterpanel .x-panel-body-default {
  background: transparent;
}
/* END Connector.window.Filter */

.x-panel-body-default {
  background: transparent!important;
}

.x-panel-body-primary-view {
  .chartview {
    .x-box-item{
    background: $white!important;
    .x-btn {
      background: $action-red!important;
    }
    }
  }
  .x-border-layout-ct {
    background: transparent!important;
  }
}
