.connector-grid {

  .filtered-column {

    .x-column-header-trigger {
      background-color: transparent;
    }

  }

  .x-grid-view {
    z-index: 5;
  }

  .x-column-header-trigger {
    display: inline-block;
    border-left: 1px solid transparent;
  }

  .x-column-header-inner {
    height: 45px;
  }

  .x-group-header {
    text-align: left;
    color: $light-color;
    background-color: $light-color;

    .x-column-header-inner {
      background-color: $light-color;
    }

    /* Column group headers do not show trigger */
    .x-column-header-trigger {
      display: none;
    }

    .x-group-sub-header {

      .x-column-header-trigger {
        display: block;
        position: absolute;
        bottom: 0;
        top: inherit;
        height: 15px;
      }

      .x-column-header-inner {
        position: relative;
        background-color: transparent;
      }

      .x-column-header-text {
        white-space: normal;
        position: absolute;
        left: 4px;
        bottom: 4px;
        margin: 0;
        width: 85%;
        text-align: justify;
      }
    }
  }
}

/* Connector.window.Filter */
div.filterpanel .x-panel-body-default {
  background: transparent;
}
/* END Connector.window.Filter */
