@import '../variables';
@import '../mixins';

#fullpage {
  opacity: 0;
}

.section {
  background-color: $background-color;
  max-width: 100%;
  @include tablet {
    padding-left: 2em;
    padding-right: 2em;
  }
}

.section.intro-section {
  padding-top: 2em;
  background-color: $intro-background-grey;
  max-height: 62em;

  .fp-scrollable {
    padding-top: 6em !important;
    @include phone {
      padding-top: 0em !important;
    }
  }

  .links {
    position: absolute;
    top: 0em;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: $max-width;
    background-color: $intro-background-grey;
    z-index: 10;
    padding: 0;
    a, span {
      margin-top: 2em;
      margin-bottom: 2.67em;
      &.signin-modal-trigger {
        margin-right: 2em;
        @include tablet {
          margin-right: 0em;
        }
      }
    }
    span {
      background-color: transparent;
      color:$light-grey-text;
      width: auto;
    }
    @include phone {
      opacity: 0;
    }
  }
  .welcome {
    text-align: center;
    display: block;
    overflow: hidden;
    margin: 2.67em 0;
    @include tablet {
      margin: 3em 0em 2.67em 0;
    }
    .title {
      margin-bottom: 2.67em;

      h1 {
        font-size: 3.011em;
        margin: 0;
        @include light-georgia;
      }
      h1:last-child {
        color: $navigation-pink;
      }
    }

    .subtitle {
      margin-top: 2.67em;
      p {
        margin: 0;
        line-height: 1.5em;
        @include light-georgia;
      }
    }
  }

  .video-container {
    margin: 4em 0em 4em 0em;
    position: relative;

    .video-placeholder {
      display: block;
      position: relative;
      max-width: 25.35em;
      width: 100%;
      height: 13.35em;
      margin: -1.33em auto;
      border: 1.33em solid white;
      background-color:$intro-video-background;
      background-image: url("/img/intro.png");
      background-size: contain;
      outline: none;
      @include phone {
        width: 100%;
      }
    }

    .play {
      background-color: white;
      color:black;
      left: 0;
      right: 0;
      margin: -2em auto 0 auto;
      top: 50%;
      position: absolute;
      width: 4em;
      height: 4em;
      border:none;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;

      &:after {
        content: "\e001";
        font-family: VideoJS;
        line-height: 4em;
        text-shadow: .05em .05em .1em #000;
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .learn-more {
    text-align: center;
    max-width: 25.35em;
    margin: 2.67em auto 1.33em auto;
    overflow: hidden;
    p {
      margin: 0;
      line-height: 1.5em;
      @include light-arial;
    }
    .container {
      margin: 5.33em 0em 0em 0em;
      h3 {
        font-size: 1.5em;
        @include light-georgia;
        color: $light-grey-text;
        margin: 0;
      }
    }
  }
}

.section.learn-section {
  text-align: center;
  max-height: 54em;

  .container {
    text-align: center;
    padding: 1.83em 0 5.33em 0;
    h1 {
      margin: 0;
      @include light-georgia;
      font-size: 3.011em;
    }
  }

  .statistics {
    overflow: hidden;

    .timestamp {
      margin-bottom: 5.33em;
      @include phone {
        margin-bottom: 2.66em;
      }
      p {
        display: inline-block;
        margin: 0;
        font-size: 1.5em;
        @include light-georgia;
        color: $lighter-grey-text;
      }
      .days {
        padding: 0em 0.25em;
      }
    }
    .datapoint {
      display: inline-block;
      border-right: 1px solid $intro-background-grey;
      padding: 0em 2.5em;

      &:last-child {
        border-right: none;
      }

      p, h1 {
        margin: 0;
        color: $dark-text;
      }
      h1 {
        font-size: 5.018em;
        @include light-georgia;
      }
      .title {
        margin: 1em 0em 0em 0em;
      };
      p {
        font-size: 1.5em;
        @include light-georgia;
      }

      @include tablet {
        font-size: 0.8em;
        display: inline-block;
        overflow: hidden;

        p, h1 {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      @include phone {
        font-size: 1em;
        display: inline-block;
        width: 50%;
        margin-bottom: 2em;
        border-right: none;
        overflow: hidden;
        &:nth-child(1),
        &:nth-child(3)  {
          border-right: 1px solid $intro-background-grey;
        }
        p, h1 {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

    }

    .reminder {
      margin: 5.33em 0em 0em 0em;
      @include phone {
        margin-bottom: 2.66em;
      }
      p {
        margin: 0;
        line-height: 1em;
        font-size: 1.5em;
        @include light-georgia;
      }
    }

  }
}

.section.collab-section,
.section.explore-section,
.section.learn-section {

  .gif-container {
    img {
      padding: 0;
    }
    img.mobile-img {
      opacity: 0;
      position: absolute;
      top:0;
      left: 0;
    }
  }
}

.section.goal-section,
.section.about-section,
.section.explore-section,
.section.collab-section,
.section.learn-section {
  text-align: center;

  .goal-container, .about-container {
    margin: 1.83em 0em 1.833em 0em;
    .title {
      padding: 0em 0em 6.5em 0em;
      h1 {
        margin: 0;
        @include light-georgia;
        font-size: 3.011em;
      }
    }
    .copy {
      p {
        margin: 0;
        font-size: 1.5em;
        @include light-georgia;
      }
      a {
        text-decoration: none;
        @include light-georgia;
        color: $navigation-pink;
      }
      br {
        @include tablet {
          display: none;
        }
      }
    }
  }

  .circle {
    @include phone {
      height: 0px;
      width: 0px;
      opacity: 0;
      margin: 2em 0em 0em 0em;
      display: none;
    }
  }

  .goal-container {

    @include tablet {
      .copy p {
        padding-bottom: 2em;
      }
    }
  }

  .about-container {
    margin-bottom: 3em;
    .title {
      padding-bottom: 5.33em;
    }
    .copy {
      padding-bottom: 5.33em;
      a {
        &:hover {
          color: $navigation-pink-hover;
        }
      }
    }
    .links {
      margin: 0;
      text-align: center;
      a.contact {
        background-color: $dark-text;
      }

      &.sign-in {
        margin-top: 3.011em;
        span {
          display: block;
          background-color: transparent;
          color:$light-grey-text;
          width: auto;
          margin-bottom: 0.5em;
        }
      }
    }
  }
  .gif-title {
    margin: 1.833em auto 5.33em auto;
    h1 {
      margin: 0;
      @include light-georgia;
      font-size: 3.011em;
    }
  }
  .gif-container {
    margin: 5.33em auto 2.66em auto;
  }
  .gif-description {
    margin: 2.66em 0em 0em 0em;
    padding: 1em 4em;

    @include tablet {
      padding: 1em;
    }

    p {
      margin: 0;
      font-size: 1.17em;
      @include light-arial;
      line-height: 1.3em;
    }
  }
  a.circle {
    margin: 6.5em auto 1.833em auto;
  }
}
