@include extjs-panel-ui(
  $ui-label: 'primary-view',
  $ui-body-background-color: $light-color,
  $ui-border-width: 0,
  $ui-body-border-width: 0
);

@include extjs-panel-ui(
  $ui-label: 'east-view',
  $ui-body-background-color: $primary-color,
  $ui-border-width: 0,
  $ui-body-border-width: 0
);

.x-panel-east-view {
  z-index: 10000;
}

.x-panel-body-east-view {
  background: linear-gradient(90deg, #ebebeb, #f0f0f0) !important;
}

@include extjs-panel-ui(
  $ui-label: 'navigation',
  $ui-body-border-width: 0px,
  $ui-body-background-color: $select-color,
  $ui-body-font-size: 13.5pt
);

div.xaxispicker div.x-panel-body,
div.yaxispicker div.x-panel-body {
  background-color: transparent !important;
}

div.sourcegrid .x-grid-row .x-grid-cell,
div.measuresgrid .x-grid-row .x-grid-cell {
  border-color: transparent !important;
  font-family: $info-font;
}

div.sourcegrid .x-grid-view,
div.measuresgrid .x-grid-view {
  background-color: $light-color;
}

.x-grid-cell-special,
.x-grid-row-selected .x-grid-cell-special {
  background-color: #FFFFFF;
  background-image: none;
}

.x-grid-row-over .x-grid-cell-special {
  background-color: #FFFFFF;
  background-image: none;
}

.highlight .x-grid-cell-last {
  background-color: #14C9CC;
}

.highlight .x-grid-cell-inner {
  color: #FFFFFF;
}

.curseltitle {
  @include bodycaps;
  font-size: 12pt;
  padding-bottom: 15px;
}

.curselauth {
  font-size: 12pt;
  font-weight: normal;
  font-family: $data-font;
  padding-bottom: 5px;
}

.curseldesc {
  font-size: 9pt;
  font-weight: normal;
  width: 60%;
  font-family: $info-font;
  color: $heat-scale-1;
}

/* Ext.Grid*/
.x-column-header-text {
  font-size: 12px;
}

.x-grid-row-checker, .x-column-header-checkbox .x-column-header-text {
  height: 13px;
  width: 13px;
  background-image: url(images/form/checkbox2.gif);
}

/* Connector.grid.Panel */
.connector-grid {
  .x-column-header-trigger {
    background-image: url(images/filter.svg);
    background-position: 0px 28px;

    &:hover {
      background-color: #E6E1E1 !important;
      background-image: url(images/filter_selected.svg);
      background-position: 0px 28px;
    }
  }

  .filtered-column .x-column-header-trigger {
    background-image: url(images/filter_selected.svg);
    background-position: 0px 28px;
  }
}

/* Connector.view.InfoPane */
.x-grid-body .x-grid-table-focused-first {
  border-top: 1px solid transparent;
}

.x-grid-with-row-lines .x-grid-table-over-first {
  border-top-color: transparent;
}

.infopanegrid {

  margin-top: 30px;

  .x-grid-body {
    border-top-color: transparent;
  }

  .x-column-header {
    border-color: transparent;
  }

  .x-column-header-over {
    background-color: transparent;
  }

  .x-column-header-over,
  .x-column-header-sort-ASC, .x-column-header-sort-DESC {
    background-image: none !important;
    background-color: transparent;
    border: none;
  }

  .x-column-header-trigger {
    border-left: 1px solid $primary-color;
    background-color: $heat-scale-4;

    &:hover {
      background-color: #F4F4F4 !important;
    }
  }

  .x-grid-header-ct {
    border-color: transparent;
  }

  .x-grid-group-hd {
    margin-top: 20px;
    border-width: 0;
    background-color: transparent;
  }

  .x-grid-group-title {
    @include smallStandout;
    color: $heat-scale-2;
  }

  .x-grid-with-row-lines .x-grid-table-over-first {
    border-color: transparent;
  }

  .x-grid-row-over .x-grid-cell-last {
    background-color: transparent;
  }

  .x-grid-cell-inner {
    padding: 3px 6px 2px 6px;
    font-size: 10pt;
  }
}

/* Group selection panels */
.x-border-box textarea.x-form-field {
  padding: 4px 3px;
}