.x-menu-body {
  background: $light-color;
}

.x-menu-item-active {
  background-color: $select-color;
  background-image: none;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(lighten($select-color, 5)), to($select-color));

  .x-menu-item-text {
    color: $light-color;
  }
}

//.x-menu-item-active .x-menu-item-link {
//  background-color: $select-color;
//  border: 1px solid $select-color;
//  background-image: none;
//  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(lighten($select-color, 5)), to($select-color));
//
//  .x-menu-item-text {
//    color: $light-color;
//  }
//}

.x-menu-item-text {
  font-size: 10pt;
}

.x-menu-item-link {
  padding: 0px 2px 3px 9px;
}