$connector-menu-border-radius: 9px;

.x-menu {
  border-radius: $connector-menu-border-radius;

  a {
    &:hover, &:active {
      text-decoration: none;
    }
  }
}

.x-menu-body {
  background: $light-color;
}

.x-menu-item-active {
  background-color: $select-color;
  background-image: none;
  background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(lighten($select-color, 5)), to($select-color));
  border-radius: $connector-menu-border-radius;

  .x-menu-item-text {
    color: $light-color;
  }
}

.x-menu-item-text {
  font-size: 10pt;
}

.x-menu-item-link {
  padding: 0px 2px 3px 9px;
}