@include extjs-toolbar-ui (
  $ui: 'actionheader',

  $background-color: $white,
  $background-gradient: none,

  $border-color: $action-red,

  $border-width: 2px 0 0 0,

  $tool-background-image: none
);

// Sadly, this is a hardcoded UI in ExtJS 4.2.1. They do
// weird things with it and use it has a marker to change logic...seems
// like someone missed a code review.
@include extjs-toolbar-ui (
  $ui: 'footer',

  $background-color: $dark-color,
  $background-gradient: none,

  $border-color: $dark-color,

  $border-width: 0,

  $tool-background-image: none
);

@include extjs-toolbar-ui (
  $ui: 'lightfooter',

  $background-color: $white,
  $background-gradient: none,

  $border-color: $white,

  $border-width: 0,

  $tool-background-image: none
);

.filter-top-toolbar {
  padding: 4px 8px 0 12px;
}

.x-toolbar-footer,
.x-toolbar-lightfooter {
  padding: 5px 0;
  margin: 0;
}