// From /cds/resources
// sencha slice theme -d ..\..\lib\ext-4.0.7 -c css\connector.css -v
// probably doesn't work -- just make sure compass is installed and from this directory run 'compass watch'
$prefix: 'x4-';
/*$scope-reset-css: true;*/

// Unless you want to include all components, you must set $include-default to false
$include-default : true;

/* Site wide coloring scheme */
$select-color: #14C9CC;                       // Bright Blue
$selectongrey-color: rgba(20, 201, 204, 0.2); // Light Blue

$primary-color: #DCD8D8;           // Main Gray
$secondary-color: #F0F0F0;         // Light Gray
$legend-color: #BAB4B4;            // 10% darker than $secondary-color
$light-color: #FFFFFF;             // White
$dark-color: #333333;              // Dark Gray

$interactive-color: #9B0D96;       // Interactive
$info-color: #F5A73A;              // Info

$black: #000000;
$unselect-black: rgba(0, 0, 0, 0.4);

/* these could be an actual scale using a function -- stick with Artefact colors for now */
$heat-scale-1: #666363;            // Heatmap Gray #1
$heat-scale-2: #A09C9C;            // Heatmap Gray #2
$heat-scale-3: #CCC8C8;            // Heatmap Gray #3
$heat-scale-4: #E6E1E1;            // Heatmap Gray #4

$title : 28pt;
$headline : 18pt;
$pageLeftPadding: 27px;

$bodycaps-font : Arial;
$info-font : Verdana, sans-serif;
$data-font : Georgia, serif;

// Calendar
$datepicker-base-color: $light-color;

$window-body-background-color: $primary-color;
$window-header-color: $secondary-color;

@mixin header {
  font-family: $data-font;
  font-weight: normal;
}

@mixin bodycaps {
  font-family: $bodycaps-font;
  font-size: 14pt;
  font-weight: bold;
  color : $interactive-color;
  text-transform: uppercase;
}

@mixin headline {
    font-size: $headline;
    text-transform: uppercase;
};

@mixin standout {
    font-size: $title;
    font-family: $data-font;
};

@mixin smallStandout {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;
    font-family: $bodycaps-font;
    span {
        color: $dark-color;
    }
}

@mixin pagePaddingLeft {
    padding-left: $pageLeftPadding;
}

@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// --- END DEFINE MIXINS ----
@import 'ext4/default/all';

h1 {
  font-size: 26pt;
  @include header;
}

h2 {
  font-size: 22pt;
  @include header;
}

h3 {
  font-size: 20pt;
  @include header;
}

li.fadein {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-name: fadein;
    -webkit-animation-name: fadein;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.x4-tab-bar {
    display: none;
}

.x4-border-layout-ct {
    background-color: $light-color;
}

.titlepanel {
    padding-top: 25px;
    padding-bottom: 7px;
    @include pagePaddingLeft;
}

.titlepanel span {
    @include bodycaps;
}

// This is the tab panel in the center
@include extjs-panel-ui (
    'primary-view',

    $ui-body-background-color: $secondary-color
);

@include extjs-panel-ui (
    'axispanel',

    $ui-header-font-size: 11pt,
    $ui-header-color: $legend-color
);

@include extjs-panel-ui (
    'east-view',

    $ui-body-background-color: $primary-color
);

div.x4-panel-body-east-view {
  background: linear-gradient(90deg, #ebebeb,#f0f0f0) !important;
}

div.xaxispicker div.x4-panel-body,
div.yaxispicker div.x4-panel-body {
    background-color: transparent !important;
}

div.sourcegrid .x4-grid-row .x4-grid-cell,
div.measuresgrid .x4-grid-row .x4-grid-cell {
    border-color: transparent !important;
    font-family: $info-font;
}

div.sourcegrid .x4-grid-view,
div.measuresgrid .x4-grid-view {
    background-color: $light-color;
}

.x4-panel-header-axispanel.x4-docked-top {
    border-bottom: 1px solid $legend-color !important;
}

div.curselhdr {
    font-size: 28pt;
    font-weight: normal;
    font-family: $data-font;

    &:hover {
        cursor: pointer;
    }
}

div.curselauth {
    font-size: 13pt;
    font-weight: normal;
    font-family: $data-font;
    padding-bottom: 15px;
}

div.curseldesc {
    font-size: 11pt;
    font-weight: normal;
    width: 60%;
    font-family: $info-font;
    color: $heat-scale-1;
}

/* Connector.panel.Header */
.connectorheader, .connectorheader-collapse {
    background-color: $black;
    color : $light-color;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($black), to($dark-color)); // TODO: Change to compass
    background: -moz-linear-gradient(left, $black,  $dark-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333',GradientType=1);
}

.connectorheader .logo {
    @include headline;
}

.connectorheader .logo h2 {
    float: left;
    padding: 27px 5px 0px 27px;
    font-family: $bodycaps-font;
    font-weight: bold;
    font-size: 13pt;
}

.connectorheader .logo h2:hover {
    cursor: pointer;
}

.connectorheader .logo span,
.connectorheader-collapse .logo span {
    color : $select-color;
}

.connectorheader .logo img {
    padding-top: 23px;
}

/* Connector.button.RoundedButton */
@include extjs-button-ui (
    'rounded-small',

    $border-radius : 15px,

    $background-color: $secondary-color,
    $background-color-focus: darken($secondary-color, 8),
    $background-color-over: darken($secondary-color, 8),

    $border-width : 2px,
    $border-color: #FFFFFF,
    $border-color-over: $light-color,
    $border-color-focus: $light-color,
    $border-color-pressed: $dark-color,
    $border-color-disabled: $dark-color,

    $text-padding: 5px,

    $color: $dark-color,
    $color-disabled: $dark-color, /* HACK */

    $font-size : 10pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 10px
);

@include extjs-button-ui (
    'rounded-accent-small',

    $border-radius : 15px,
    $background-color: $interactive-color,
    $background-color-over: opacify($interactive-color, 0.4),
    $border-width : 0px,
    $text-padding: 5px,
    $color: $heat-scale-4,
    $color-disabled: $heat-scale-4, /* HACK */

    $font-size : 10pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 10px
);

.x4-btn-rounded-small,
.x4-btn-rounded-accent-small {
    padding: 3px 5px 4px 5px;
    background-image: none;
    border-width: 0px;
}

.x4-btn-rounded-small.dark {
    border: 2px solid $heat-scale-3;
}

.x4-btn-rounded-small.dark:hover,
.x4-btn-rounded-small.dark:hover span {
    background-color: $dark-color;
    color: $light-color;
}

.x4-btn-rounded-small-disabled.dark:hover,
.x4-btn-rounded-small-disabled.dark:hover span {
    background-color: transparent;
    color: $dark-color;
}

.x4-btn-rounded-small.contrast {
    border: 2px solid black;
    background-color: black;
    span {
        color: white;
    }
}

.x4-btn-rounded-small.contrast:hover {
    border: 2px solid $light-color;
    background-color: $light-color;
    span {
        color: black;
    }
}

.x4-btn-rounded-small-disabled.contrast:hover,
.x4-btn-rounded-small-disabled.contrast:hover span {
    background-color: transparent;
    color: $dark-color;
}


.x4-btn-rounded-accent-small-over {
    opacity: 0.9;
}

.x4-btn-rounded-small-noicon button,
.x4-btn-rounded-accent-small-noicon button {
    height: 14px;
}

.x4-btn-rounded-small-icon button,
.x4-btn-rounded-small-noicon .x4-btn-inner,
.x4-btn-rounded-accent-small-icon button,
.x4-btn-rounded-accent-small-noicon .x4-btn-inner {
    height : 13px;
    line-height: 11px;
}

/* Connector.button.DropDownButton */
@include extjs-button-ui (
    'dropdown-small',

    $border-radius : 16px,

    $background-color: $interactive-color,
    $background-color-over: $light-color,

    $border-width : 0px,
    $border-color: #FFFFFF,
    $border-color-over: $light-color,
    $border-color-focus: $light-color,
    $border-color-pressed: $dark-color,
    $border-color-disabled: $dark-color,

    $color: $light-color,
    $color-over : $interactive-color,
    $color-disabled: $dark-color, /* HACK */

    $font-size : 11pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 10px
);

.x4-btn-dropdown-small {
    height: 24px;
    width: 24px;
    padding: 3px 0px 0px 5px;
}

.x4-btn-dropdown-small-icon button,
.x4-btn-dropdown-small-icon .x4-btn-inner,
.x4-btn-dropdown-small-noicon button, .x4-btn-dropdown-small-noicon .x4-btn-inner {
    height: 21px;
    line-height: normal;
}

.x4-btn-dropdown-small-hld {
    background-color: $light-color;

    span.x4-btn-inner {
        color: $interactive-color;
    }
}

@include extjs-button-ui (
    'dropdown-alt-small',

    $border-radius : 16px,

    $background-color: $interactive-color,
    $background-color-over: $light-color,

    $border-width : 0px,
    $border-color: #FFFFFF,
    $border-color-over: $light-color,
    $border-color-focus: $light-color,
    $border-color-pressed: $dark-color,
    $border-color-disabled: $dark-color,

    $color: $light-color,
    $color-over : $interactive-color,
    $color-disabled: $dark-color, /* HACK */

    $font-size : 9pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 10px
);

.x4-btn-dropdown-alt-small {
    height: 17px;
    width: 17px;
    padding: 1px 0px 0px 3px;
}

.x4-btn-dropdown-alt-small-icon button,
.x4-btn-dropdown-alt-small-icon .x4-btn-inner,
.x4-btn-dropdown-alt-small-noicon button, .x4-btn-dropdown-alt-small-noicon .x4-btn-inner {
    height: 15px;
    line-height: normal;
}

.x4-btn-dropdown-alt-small-hld {
    background-color: $light-color;

    span.x4-btn-inner {
        color: $interactive-color;
    }
}

.x4-btn-arrow {
    background-image: none;
}

@include extjs-button-ui (
    'rounded-inverted-accent-small',

    $border-radius : 15px,
    $border-width : 1px,
    $border-color: #CC87C9,
    $border-color-over: $interactive-color,

    $background-color: $light-color,
    $background-color-over: opacify($interactive-color, 0.4),

    $text-padding: 0px,

    $color: $interactive-color,
    $color-over: $light-color,
    $color-disabled: $heat-scale-4, /* HACK */

    $font-weight: bold,

    $font-size : 8pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 10px
);

.x4-btn-rounded-inverted-accent-small {
    padding: 0px 1px 2px 2px;
    background-image: none;
}

.x4-btn-rounded-inverted-accent-small-noicon button,
.x4-btn-rounded-inverted-accent-small-noicon .x4-btn-inner {
    height: 11px !important;
}

.x4-btn-rounded-inverted-accent-small-over {
    opacity: 0.9;
}

@include extjs-button-ui (
    'rounded-inverted-accent-icon-small',

    $border-radius : 15px,
    $border-width : 2px,
    $border-color: #F5D9B3,
    $border-color-over: $info-color,

    $background-color: $light-color,
    $background-color-over: opacify($info-color, 0.4),

    $text-padding: 0px,

    $color: $info-color,
    $color-over: $light-color,
    $color-disabled: $heat-scale-4, /* HACK */

    $font-size : 11pt,
    $font-family: $info-font,
    $font-family-over: $info-font,
    $font-family-focus: $info-font,
    $font-family-pressed: $info-font,
    $font-family-disabled: $info-font,

    $icon-size : 15px
);

.x4-btn-rounded-inverted-accent-icon-small {
    padding: 0px 4px 1px 2px;

    .info {
        background-image: url(/labkey/cds/images/info.png);
        background-size: 15px 15px;
    }
}

.x4-btn-rounded-inverted-accent-icon-small-over {
    opacity: 0.9;
}

.x4-btn-rounded-inverted-accent-icon-small:hover {
    background-color: $info-color;
    border-color : $info-color;
    .x4-btn-inner {
        color: $light-color;
    }
    .x4-btn-icon {
       background-image: url(/labkey/cds/images/infoover.png);
    }
}

// --- END DEFINE BUTTONS ----

.x4-toolbar-footer {
    padding: 2px 0;
}

/* Menu */
.x4-menu-body {
    background: white !important;
}

.x4-menu-item-active .x4-menu-item-link {
    background-color: $select-color;
    border: 1px solid $select-color;
    background-image: none;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(lighten($select-color, 5)), to($select-color));

    .x4-menu-item-text {
        color: $light-color;
    }
}

.x4-menu-item-text {
    font-size: 10pt;
}

.x4-menu-item-link {
    padding: 6px 2px 3px 9px;
}


/* Connector.view.search.Container */
#search-field input {
    height : 22px;
    border: 1px inset;
}

/* Connector.view.Navigation */
@include extjs-panel-ui (
    'navigation',

    $ui-body-background-color: $select-color,
    $ui-body-font-size: 13.5pt
);

.navigation-view {
    padding: 10px 0;
    font-family: $data-font;
    color: $light-color;
}

div.nav-label, div.dis-label {
    padding-top: 4px;

    span.right-label {
        width: 262px;
        float: right;
        @include unselectable;
    }

    span.left-label {
        padding-left: 23px;
        @include unselectable;
    }
}

div.grouplist-label-over:after,
div.nav-label:after, div.dis-label:after{
    //This is a nifty class that self-clears any floats.
    content: '.';
    visibility: hidden;
    clear: both;
}

div.dis-label {
    opacity: 0.35;
    cursor: default;
}

div.nav-label-over span.right-label, 
div.nav-label-over span.left-label {
    cursor : pointer;
    color: $secondary-color;
}

div.emptytext span.left-label {
    padding-left: 23px;
}

div.grouplist-label-selected, div.nav-label-selected {
    span {
        font-weight: bold;

        &.left-arrow, &.right-arrow {
            position: relative;
            top: 0;
            border-top: 11px solid transparent;
            border-bottom: 11px solid transparent;
        }

        &.left-arrow {
            float: left;
            left: 0;
            border-left: 11px solid $primary-color;
        }

        &.right-arrow {
            float: right;
            right: 0;
            border-right: 11px solid $primary-color;
        }
    }
}

.axiswindow {
    width: 100px;
    height: 100px;
	background-color: $light-color;
	position: relative;
	border: none;
    overflow: inherit !important;
    background-color: $secondary-color;
    border-bottom: 1px solid $heat-scale-3;

    .x4-window-header {
        display: none;
    }

    .x4-window-body {
        border-style: none;
        background-color: $secondary-color;
    }

    .x4-toolbar-footer {
        background-color: $secondary-color;
    }

    &:after, &:before {
        border: 12px solid transparent;
        content: ' ';
        height: 0;
        bottom: 100%;
        position: absolute;
        width: 0;
        right: 100%;
        top: 46%;
    }

    &:after {
        border-right-color: $secondary-color;
    }

    &:before {
        /*border-bottom-color: trans;*/
    }

    .x4-form-item {
        span {
            @include smallStandout;
        }
        background-color: $secondary-color;
        /*border-bottom: 1px solid $heat-scale-3;*/
    }
}

.filterwindow {
    width: 100px;
    height: 100px;
	background-color: $light-color;
	position: relative;
	border: none;
    overflow: inherit !important;
    background-color: $secondary-color;
    border-bottom: 1px solid $heat-scale-3;

    .x4-window-header {
        display: none;
    }

    .x4-window-body {
        border-style: none;
        background-color: $secondary-color;
    }

    .x4-toolbar-footer {
        background-color: $secondary-color;
    }

    &:after, &:before {
        border: 12px solid transparent;
        content: ' ';
        height: 0;
        bottom: 100%;
        position: absolute;
        width: 0;
        left: 50px;
    }

    &:after {
        border-bottom-color: $secondary-color;
    }

    &:before {
        /*border-bottom-color: trans;*/
    }

    .x4-form-item {
        span {
            @include smallStandout;
        }
        background-color: $secondary-color;
        /*border-bottom: 1px solid $heat-scale-3;*/
    }
}

.measurewindow {
    width: 100px;
    height: 100px;
	background-color: $light-color;
	position: relative;
	border: none;
    overflow: inherit !important;
    background-color: $secondary-color;
    border-bottom: 1px solid $heat-scale-3;

    .x4-window-header {
        display: none;
    }

    .x4-window-body {
        border-style: none;
        background-color: $secondary-color;
    }

    .x4-toolbar-footer {
        background-color: $secondary-color;
    }

    &:after, &:before {
        border: 12px solid transparent;
        content: ' ';
        height: 0;
        bottom: 100%;
        position: absolute;
        width: 0;
        left: 215px;
    }

    &:after {
        border-bottom-color: $secondary-color;
    }

    &:before {
        /*border-bottom-color: trans;*/
    }

    .x4-form-item {
        span {
            @include smallStandout;
        }
        background-color: $secondary-color;
        /*border-bottom: 1px solid $heat-scale-3;*/
    }
}

#plotymeasurewin:after,
#plotymeasurewin:before {
    border-right-color: $secondary-color;
    border-bottom-color: transparent;
}

#plotxmeasurewin:after,
#plotxmeasurewin:before {
    top: 100%;
    left: 40%;
    border-top-color: $secondary-color;
    border-right-color: transparent;
}

/* Connector.view.Summary */
div.line {
    margin-left: $pageLeftPadding;
    height: 1px;
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($heat-scale-2), to($primary-color));
    background: -moz-linear-gradient(45deg, $heat-scale-2, $primary-color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A09C9C', endColorstr='#DCD8D8',GradientType=1);
}

div.row {
    height: 19%;
    min-height: 50px;
    white-space: nowrap;
    min-width: 800px;
}

div.row:hover {
    transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;

    background-color: $select-color;
    @include single-box-shadow($heat-scale-2, -2px, 2px, 2px);
    @include border-radius(2);
    cursor : pointer;

    span.pp {
      color: $heat-scale-3;
    }

    span.label {
      color: $light-color;
    }

    .line {
      background-color: transparent;
    }
}

div.column {
    float: left;
}

div.endcolumn {
    float: none;
}

/* By column is the 'by Column' you see in Summary Display */
div.bycolumn, div.med-bycolumn, div.small-bycolumn {
    width : 43%;
    @include pagePaddingLeft;
    @include standout;

    span.pp {
        color: $heat-scale-2;
    }
}

div.med-bycolumn {
    font-size: 21pt;
}

div.small-bycolumn {
    font-size: 18pt;
}

/* Detail column is the middle column of the Summary Display */
div.detailcolumn, div.med-detailcolumn, div.small-detailcolumn {
    width : 28%;
    white-space: pre-wrap;
    padding-top: 4px;
}

div.detailcolumn {
    font-size: 10pt;

    a {
      color: $black;

      &.nav:hover {
        color: $heat-scale-4;
        cursor: pointer;
        text-decoration: underline;
      }
    }
}

div.med-detailcolumn {
    font-size: 9pt;

    a {
      color: $black;

      &.nav:hover {
        color: $heat-scale-4;
        cursor: pointer;
        text-decoration: underline;
      }
    }
}

div.small-detailcolumn {
    font-size: 8pt;

    a {
      color: $black;

      &.nav:hover {
        color: $heat-scale-4;
        cursor: pointer;
        text-decoration: underline;
      }
    }
}

div.totalcolumn {
    margin-left: 76%;
    font-weight: bold;
    white-space: pre-wrap;
    width: 15%;
}

/* Connector.view.GroupListView */

div.grouplist-view {
    padding: 2px 0;
    font-family: $data-font;
    font-size: 13pt;
    color: black;
}

.grouplist-label-over {
    cursor: pointer;
    background-color: $primary-color;
}

div.emptytext.grouplist-label-over {
    cursor: default;
    background-color: transparent;
}

div.grouplist {
    .x4-panel-header {
        padding-left: 23px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
    span.x4-panel-header-text {
        @include smallStandout;
    }
}

/* Connector.view.GroupPreview */
.grouppreview {
    background-color: $primary-color;
    padding-top: 10px;
    padding-left: $pageLeftPadding;
    padding-bottom: 5px;
}

.grouppreview div.title {
    @include standout;
}

.grouppreview div.subtitle {
    @include smallStandout;
}

.grouppreview div.previewleft {
    padding: 5px;
    float : left;
    width : 50%;
    height: 100px;
}

.grouppreview div.previewright {
    padding: 5px;
    height: 100px;
}

/* Connector.view.Dimension */
.dimensionview {
    background-color : $primary-color;
}

.summaryview {
    background-color : $secondary-color;
}

div.dimensionsort {
    color: $heat-scale-2;
    padding-top: 10px;
    padding-left: $pageLeftPadding;
    padding-bottom: 5px;
    font-family: $info-font;
    @include smallStandout;
    font-size: 11pt;
}

div.dimensionsort .sorttype {
    /*color: $dark-color;*/
    padding-left: 5px;
}

#type-field div input {
    margin-left: $pageLeftPadding;
    height : 22px;
    border : 1px inset;
}

div.label {
    color: $heat-scale-2;
    font-family: $data-font;
    font-size: 11pt;
}

div.label span {
    color: $dark-color;
    font-weight: bold;
}

div.boldlabel {
    @include smallStandout;
    font-size: 10pt;
}

div.boldlabel span {
    color: $dark-color;
    font-weight: bold;
}

/* Data Explorer Bar Charts */
.barchart {
    width: 78%;
    padding: 2px;
    margin: 2px 0;

}

.bar {
    position: relative;
    display: block;
}

.bar.large {
    height: 38px;
    margin: 4px 0 0 23px;
}

.bar.small {
    height: 27px;
    margin: 4px 0 4px 23px;
    .x4-btn {
        display: none;
    }
}

.bar.small:hover {
    .x4-btn {
        display: block;
    }
}

.bar .barlabel {
    font-family: Georgia, sans-serif;
    display: block; 
    padding: 5px 5px;
    position: relative; 
    z-index: 2;
    @include unselectable;
}

.bar.large .barlabel {
    font-size: 14pt;
    z-index: 18002;
}

.bar.small .barlabel {
    font-size: 12pt;
    font-weight: bold;
    z-index: 18002;
    border-left: 1px solid $primary-color;
}

.barlabel.selected {
    padding: 5px;
    /*background-color: $selectongrey-color;*/
    font-weight: bold;
    font-size: 12pt;
    position: absolute;
    z-index: 10000000;
}

span.info {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 25px;
    top: 5px;
    z-index: 18005;
}

.bar.large:hover,
.bar.small:hover {

    cursor: pointer;

    .barlabel {
        text-decoration: underline;
    }

    .index {
        z-index: 18001;
        background-color: $select-color;
    }
}

.bar .count {
    color: $legend-color;
    font-family: $data-font;
    font-weight: bold;
    font-size: 14pt;
    position: absolute;
    @include unselectable;
}

.bar.large .count {
    top: 6px;
}

.bar.small .count {
    top: 0;
}

.bar .index {
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%;
    background: $primary-color; 
    text-indent: -9999px; 
    overflow: hidden;
}

.bar .index-selected {
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    background-color: $select-color; 
    text-indent: -9999px; 
    overflow: hidden;
}

.bar .index-selected.inactive {
    background-color: $selectongrey-color;
}

.bar.x4-item-selected span.index-selected.inactive {
    background-color: $select-color;
}

.bar .count.inactive {
    color: $selectongrey-color;
}

.bar .count.active {
    color: $select-color;
}

div.singleaxis {
    overflow-y: auto;
}

div.saecollapse {
    color : $interactive-color;
    border: 1px solid $primary-color;
    float : left;
    font-size: 22pt;
    height: 38px;
    width : 23px;
}

div.saecollapse p {
    vertical-align: middle;
    text-align: center;
}

div.saecollapse:hover {
    cursor: pointer;
    color : $light-color;
    background-color: $select-color;
    border-color: $select-color;
}

div.barcollapse {
    opacity: 0;
    height: 0;
    display: none;
}

div.saeempty {
    font-family: $data-font;
    font-size: 14pt;
    margin-top: 10px;
}

/* Connector.view.DimensionSelector */
div.dimgroup {
    @include pagePaddingLeft;
    @include standout;
}

/* Connector.view.FilterStatus */
div.highlight-value {
    @include standout;
}

div.highlight-label {
    @include smallStandout;
    span {
        color: black;
    }
}

div.status-row {
    text-transform: lowercase;
    font-family: $info-font;
    font-size: 11pt;
    padding-top: 5px;
    padding-left: 4px;
}

div.status-row:hover {
    cursor: pointer;
    .x4-btn-icon {
        background-image: url(/labkey/cds/images/infoover.png);
        background-size: 17px 17px;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 98px;
    }
}

div.status-row.x4-btn-rounded-inverted-accent-icon-small {
    margin-top: 3px;
    padding-top: 1px;
    padding-left: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

/* Connector.view.FilterSave */
div.savetitle {
    @include standout;
    padding: 15px 0 0 27px;
}

.x4-form-item {
    font-family: $info-font;
}

.x4-form-item-label-top {
    font-size: 11pt;
}

.grouptop {
    padding: 15px 0 0 0;
}

.x4-border-box textarea.x4-form-field {
    padding: 7px;
}

.x4-form-field, .x4-form-display-field {
    font-family: $info-font;
}

/* Connector.view.SelectionStatus */
div.selectionstatus,
div.activefilterstatus {
    padding-top: 15px;
    .header {
        @include smallStandout;
    }
}

div.filterpanel {

  padding-top: 15px;

  .header {
    /* small standout */
    //text-transform: uppercase;
    //font-weight: bold;
    font-size: 18pt;
    font-family: $data-font;
    span {
      color: $dark-color;
    }
  }

  div.opselect {
    display: none;
  }
  div.showopselect {
    display: block;
  }

  &:hover {
    div.opselect {
      display: block !important;
    }
    div.showopselect {
      display: none;
    }
  }
}

div.filtermember {
    img {
      opacity: 0;
    }
    &:hover {
      cursor: pointer;
      img {
        opacity: 1;
      }
    }
}

div.filtermember, span.hierarchylabel {
    font-size: 11pt;
    font-family: $data-font;
    img {
        float: right;
        position: relative;
        top: 3px;
    }
}

div.opselect {
   position: absolute;
   top: 19px;
   left: 18px;
   select {
       font-size: 9pt;
   }
}

div.showopselect {
   position: absolute;
   top: 23px;
   left: 25px;
}

.close {
    display: none;
}

li.selection,
li.activefilter {
    font-size: 11pt;
    font-family: $data-font;
}

td.subselect:hover,
li.activefilter:hover {
    cursor: pointer;
    .close {
        display: inline;
        padding-left: 5px;
    }
    .close:hover {
        cursor: pointer;
    }
}

li.activefilter {
    margin: 5px 0;
}

div.emptytext {
    font-size: 11pt;
    font-family: $info-font;
    color: $heat-scale-2;
    padding-top: 3px;
}

/* Connector.panel.Feedback */
div.feedback {
    /*position: absolute;*/
}

/* Connector.view.Scatter */
.stdcolor {
    background-color: $primary-color;
}

#scatterloader {
    position: absolute;
    visibility: hidden;
    z-index: 10000;

    img {
        padding-right: 3px;
    }
}

.timeview, .compareview, .rawdataview {
   background-color : $primary-color;
   padding: 15px 0 0 0;
}

.scatterview {
   background-color : $secondary-color;
   padding: 0;
}

.plotregion {
    background-color: $secondary-color;
}

.plot {
  margin-left: auto;
  margin-right: auto;
}

.emptyplot svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.x4-window-default, .x4-window-header-default-top {
    background: $secondary-color !important;
}

.yaxisbutton {
    position: absolute;
}

.xaxisbutton {
    margin-top: 1%;
    margin-left: 49.5%;
}

#gridsources, #plotsources {
    float: right;
    margin-right: 20px;
}

.scatterplot {
    background-color: $light-color;
}

.scatterplot svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.scatterplot .info {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Ext Message Box */
.x4-window-default,
.x4-window-header-default-top {
    background-color: $light-color;
}

.x4-toolbar .x4-toolbar-separator-horizontal {
    border-left: $heat-scale-3;
}

.x4-btn-default-toolbar-small-over {
    background-image: none;
    border-color: $heat-scale-3;
    background-color: $heat-scale-4;
}

.x4-tip {
    border-color: $heat-scale-3;
    background-color: $heat-scale-4;
}

/* Ext Grids*/
.x4-panel .x4-grid-body {
    border-color: $heat-scale-4;
}

.x4-grid-header-ct, .x4-scroller-vertical, .x4-scroller-horizontal {
    border-color: $heat-scale-4;
    background-color: $light-color;
}

.x4-grid-header-hidden .x4-grid-body {
    border-top-color: $heat-scale-4 !important;
}

.x4-grid .x4-docked.x4-toolbar-custom {
    background-color: $light-color;
    border: 1px solid transparent;
}

/* Ext Grid Columns */
.x4-column-header {
    font-family : $info-font;
    font-size: 11pt;
    height: 50px;
}

.x4-column-header-over, .x4-column-header-sort-ASC, .x4-column-header-sort-DESC {
    background-image: none !important;
    background-color: $secondary-color;
    border: none;
}

.x4-column-header-trigger {
    display: block;
    background-image: url(/labkey/cds/images/gridtrigger.gif);
    background-color: transparent;
    width: 17px;
    border-left: 1px solid $primary-color;
}

.x4-column-header-trigger:hover {
   background-color: #F4F4F4 !important;
}

.x4-column-header-align-right .x4-column-header-text {
    padding-right: 8px;
}

.x4-column-header-over, .x4-column-header-sort-ASC, .x4-column-header-sort-DESC {
    background-image: none !important;
    background-color: transparent !important;
}

div.filterheader {
    font-size: 11pt;
}

#gridfilterwindow .x4-form-item {
    background-color: transparent;
    border-bottom: none;
}

.x4-mask {
    background: #333;
    opacity : 0.35;
}

/* Measure Picker */
.sourcepanel .x4-panel-body .x4-box-inner,
.measurepanel .x4-panel-body .x4-box-inner {
    border: 1px solid $heat-scale-3;
}

div.measure-label {
    @include standout;
    padding-left: 15px;
    padding-top: 7px;
}

/* Selection Highlight*/
.x4-grid-row-selected .x4-grid-cell, .x4-grid-row-selected .x4-grid-rowwrap-div {
    border-color: $select-color;
    background-color: $select-color !important;
    color: $light-color;
    background-image: none !important;
}

.x4-form-focus, textarea.x4-form-focus {
    border-color: $heat-scale-1;
}

.x4-form-trigger {
    background-image : url(/labkey/cds/images/combotrigger.gif);
}

.x4-boundlist {
    border-color: $heat-scale-3;
}

.x4-boundlist-selected {
    background: $select-color;
    border-color: $select-color;
    color: $light-color;
}

.x4-boundlist-item-over {
    background: $select-color;
    border-color: $select-color;
    color: $light-color;
}

/* Ext Mask */
.x4-mask-msg div {
    border: 1px solid transparent;
}

.x4-mask-msg {
    background-color: $heat-scale-3;
    border-color: $heat-scale-1;
}

.circle {
    width:16px;
    height:16px;
    display:block;
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    -khtml-border-radius:8px;
    background-color: $selectongrey-color;
    float: left;
    margin-top: 2px;
    margin-right: 4px;
}

.iScroll ::-webkit-scrollbar
{
    width: 7px;
    height: 9px;
}

.iScroll ::-webkit-scrollbar-button:start:decrement,
.iScroll ::-webkit-scrollbar-button:end:increment
{
    display: block;
    height: 0;
    background-color: transparent;
}

.iScroll ::-webkit-scrollbar-track-piece
{
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

.iScroll ::-webkit-scrollbar-thumb
{
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
}

.iScroll ::-webkit-scrollbar-thumb:vertical
{
    height: 50px;
}

.iScroll ::-webkit-scrollbar-thumb:horizontal
{
    width: 50px;
}

.assayInfoDetails, .assayNorthDetails {
    background-color: $primary-color;
}

.properties-body {
    height: 130px;
    background-color: white;
    overflow-y: auto;
}

.properties-body div.nav-label:hover {
    background-color: $select-color;
    cursor: pointer;
}

div.nav-label.x4-item-selected {
    background-color: $selectongrey-color;
}

/* Noun pages */
div.nounproperty {
    color: $dark-color;
    font-family: $info-font;
    @include smallStandout;
    font-size: 9pt;
}

div.nounheader {
    font-family: $info-font;
    font-size: 11pt;
    padding-top: 2px;
    padding-left: 10px;
}

div.header-title {
    border-bottom: 1px solid lightgray;
    height: 25px;
    padding: 5px;
    padding-left: 10px;
}

td.noun-detail-text {
    padding-top: 10px;
    padding-right: 10px;
    vertical-align: text-top;
    text-align: justify;
    font-family: $info-font;
}

/* Citations */
div.cite-subtitle {
    padding-left: 27px;
    font-size: 11pt;
}

div.cite-block {
    /*height: 95px;*/
    padding: 15px 27px 0 27px;
    line-height: 18px;
    font-size: 11pt;

    div.inner {
        /*height: 95px;*/
        border-bottom: 1px solid $primary-color;
    }

    div.cite-title {
        padding-top: 5px;
        span {
            color: $interactive-color;
        }
    }

    div.cite-des {
        font-size: 10pt;
    }

    a.cite-ref,
    a.cite-src {
        cursor: pointer;
    }
}

a.cite-src,
a.cite-ref {
    text-decoration: underline;
    font-size: 9pt;
}

/* Connector.window.SystemMessage */
.sysmsg .x4-window-body-swmsg {
    padding: 6px 10px;
    border: 1px solid $info-color;
    font-weight: bold;
    background-color: $light-color;
    color: $info-color;
    border-radius: 2px;
    text-align: center;
    a {
        color: $info-color;
        text-decoration: underline;
    }
    a:hover {
        cursor: pointer;
    }
}

a {
    color: $interactive-color;

    &.logout {
        color: $light-color;
        text-decoration: none;
    }

    &.survey {
        float: right;
        vertical-align: middle;
        text-decoration: none;
    }

    &.logout, &.survey {
        &:hover {
            text-decoration: underline;
        }
    }
}

/* error messages */
.errormsg {
    font-size: 9pt;
    font-family : $info-font;
    color : $interactive-color;
}

/* Tips provided for future features */
.x4-tip-anchor {
    border-width: 12px;
    border-left-color: darken($primary-color, 10%);
}

.x4-tip-anchor-left {
    border-left-color: transparent !important;
    border-right-color: darken($primary-color, 10%);
}

.featuretip {
    height: 142px;
    width : 400px;
    font-family : $data-font;
    font-size: 11pt;
    img {
        float : left;
    }

    p {
        margin: 0 10px 0 161px;
        font-weight: bold;
    }
}

.matchtip {
    padding: 10px;
    width : 200px;
    font-size: 11pt;
    font-family: $data-font;

    .tiptitle {
        padding-top: 10px;
        font-weight: bold;
    }

    .tiptext {
        padding-top: 5px;
    }
}

#searchtip {
    p {
        margin: 0 10px 0 5px;
    }
}

/* Tutorial video */
img.hoverimg {
    opacity: 0.5;
    border:  1px solid transparent;
}

img.hoverimg:hover {
    opacity: 1;
    border: 1px solid lightgray;
}

div.imgwrapper span {
    margin-left: 62px;
    font-family: $info-font;
}

div.tutorial {

     padding: 0px;
     background: transparent;
     border: 0;
     box-shadow: none;

     .x4-window-header-default {
        background: transparent;
        border: 0;
        box-shadow: none;
     }

     .x4-window-body {
         background-color: #000;
     }
}

img.tutorialclose {
    height: 31px;
    width: 31px;
    position: absolute !important;
    z-index: 20000;
    cursor: pointer;
}

/* Connector.view.Learn */
div.learnview {
  overflow-y: auto;
}

div.learnheader {
  background-color: $primary-color;
}

div.learn-header-container {
  padding-left: $pageLeftPadding;
}

h1.lhdv {
  float: left;
  font-weight: normal;
  padding-right: 18px;
  color: $unselect-black;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: $black;
  }
}

div.learncolumnheader {
  background-color: $primary-color;
  height: 30px;
}

/* Connector.app.view.Study */
div.detail-wrapper:hover {
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;

  background-color: $selectongrey-color;

  cursor: pointer;
}

div.detail-container {
  width: 95%;
  margin-left: $pageLeftPadding;
  margin-right: auto;

  div.detail-header {
    font-size: 14pt;
    color: $dark-color;
    font-family: $info-font;
  }
}

div.study-detail {
  height: 170px;
  border-bottom: 2px solid $primary-color;
  padding-top: 15px;
  overflow: hidden;
}

div.study-description {
  width: 40%;
  padding-right: 10px;
  float: left;
  font-family: $info-font;

  .phase-text {
    font-size: 12pt;
    color: $heat-scale-1;
  }

  .description-text {
    padding-top: 5px;
    font-size: 12pt;
    color: $heat-scale-1;
  }
}

div.study-date {
  width: 20%;
  float: left;
  padding-right: 10px;
  font-family: $info-font;
  font-size: 12pt;

  .startdate-text {
    display: block;
  }

  .enddate-text {
    display: block;
    color: $heat-scale-1;
  }

  .date-diff-text {
    color: $heat-scale-1;
  }
}

div.study-treatments {
  width: 40%;
  float: right;
  font-family: $info-font;
  font-size: 12pt;
  color: $heat-scale-1;
}

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true
