.axiswindow {
  width: 100px;
  height: 100px;
  position: relative;
  border: none;
  overflow: inherit !important;
  background-color: $secondary-color;
  border-bottom: 1px solid $heat-scale-3;

  .x-window-header {
    display: none;
  }

  .x-window-body {
    border-style: none;
    background-color: $secondary-color;
  }

  .x-toolbar-footer {
    background-color: $secondary-color;
  }

  .x-panel-body {
    background-color: transparent;
    border: none;
  }

  .x-panel-header {
    padding-left: 0px;
    background-image: none;
    background-color: $secondary-color;
    box-shadow: none;

    .x-header-text {
      color: $dark-color;
      font-weight: normal;
      font-size: 15pt;
      font-family: $data-font;
    }
  }

  &:after {
    border-bottom-color: $secondary-color;
  }
}

/* Connector.window.Filter */
.filterwindow {
  width: 100px;
  height: 100px;
  position: relative;
  border: none;
  overflow: inherit !important;
  background-color: $secondary-color;
  border-bottom: 1px solid $heat-scale-3;

  .x-window-header {
    display: none;
  }

  .x-window-body {
    border-style: none;
    background-color: $secondary-color;
  }

  .x-toolbar-footer {
    background-color: $secondary-color;
  }

  &:after, &:before {
    border: 12px solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
    left: 50px;
  }

  &:after {
    border-bottom-color: $secondary-color;
  }

  .x-form-item {
    span {
      @include smallStandout;
    }
    background-color: $secondary-color;
  }
}

/* Connector.window.SystemMessage */
.sysmsg .x-window-body-swmsg {
  padding: 6px 10px;
  border: 1px solid $info-color;
  font-weight: bold;
  background-color: $light-color;
  color: $info-color;
  border-radius: 2px;
  text-align: center;
  a {
    color: $info-color;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
