$base-color: #ffffff;

/* Site wide coloring scheme */
$select-color: #fb2e5c;            // Bright Blue
$select-hover-color: #ffffff;      // Light Blue

$legend-color: #BAB4B4;            // 10% darker than $secondary-color
$gray-7: #ebebeb;             // Light Text
$gray-7-hover: #ffffff;      //  Light Text Hover
$dark-color: #333333;              // Dark Gray
$middle-gray: #6D6E70;             // Middle Gray
$interactive-color: #fb2e5c;       // Interactive
$info-color: #fb2e5c;              // Info
$secondary-color: #F0F0F0;         // Light Gray

$border-color: #BABABA;
$box-shadow-color: #e1e1e1;

/* NEW COLORS */
$action-red: #fb2e5c;              // Red full Saturated
$action-red-hover: #dc2850;         // Red Hover
$action-red-hover-outline:  #82192d; //  Red hover outline

$data-green: #41c49f;
$data-green-hover: #3ab08f;
$data-green-hover-outline: #2d876e;

/* GRAY (DARKEST TO LIGHTEST) */

$gray-1: #1e1e1e;           // Main Gray
$gray-2: #323232;           // Main Gray
$gray-25: #646464;           // Main Gray
$gray-3: #828282;           // Main Gray
$gray-4: #969696;           // Main Gray
$gray-5: #bebebe;           // Main Gray
$gray-6: #e1e1e1;           // Main Gray
$gray-7: #ebebeb;           // Main Gray
$gray-8: #f5f5f5;           // Main Gray


/* Other Grays (not darkest to lightest) */

$gray-9: #d1d1d1;



/* WHITES */

$white: #fff;
$off-white: #fefefe;
$black: #303030;
$unselect-black: rgba(0, 0, 0, 0.4);

/* TEXT COLORS */

$primary-text-color: #222222;
$secondary-text-color: #777777;
$placeholder-text-color: #AFAFAF;



/* these could be an actual scale using a function -- stick with Artefact colors for now */
$heat-scale-1: #666363;
$heat-scale-2: #A09C9C;
$heat-scale-3: #CCC8C8;
$heat-scale-4: #E6E1E1;
$heat-scale-5: #E5E5E5;
$heat-scale-6: #EEEEEE;

$title: 26px;
$headline: 16px;
$pageLeftPadding: 28px;
$sectionTopPadding: 28px;

$bodycaps-font : Arial;
$info-font : Arial, sans-serif;
$data-font : Georgia, serif;

$display-two-font: 26px $data-font;
$display-one-font: 22px $data-font;
$headline-font: 18px $data-font;
$title-font: bold 14px $info-font;
$subhead-font: bold 11px $info-font;
$body-two-font: 13px/16px $info-font;
$body-one-font: 12px/15px $info-font;
$caption-font: 11px/14px $info-font;
$nav-font: 14px $data-font;
$infopane-font: 18px/24px $data-font;
$active-filter-font: 11px/17px $info-font;


// General
$connector-prefix: 'x-'; /* Used to mimic Ext's $prefix which is not defined yet when this file is compiled */
$css-shadow-border-radius: 0;
$font-family: $info-font;

// form/field/Base.scss
$form-label-font: $body-one-font; //todo: this vs body 1
$form-toolbar-field-font: $body-one-font; //todo: this vs body 1

// form/field/Text.scss
$form-field-border-color: rgb(211, 211, 211);
$form-field-focus-border-color: $dark-color;

// form/field/Display.scss
$form-display-field-font: normal 12px $info-font;

// load mask
$loadmask-background-color: $dark-color;
$loadmask-opacity: 0.35;

// Calendar
$datepicker-base-color: $gray-7;

$window-body-background-color: $gray-7;
$window-header-color: $secondary-color;

// Grid
$grid-row-cell-over-background-color: $select-hover-color;
$grid-row-cell-over-color: $black;
$grid-row-cell-font-size: 14px/15px;

$grid-cell-selected-background-color: $gray-7; //$select-color;
$grid-row-cell-selected-background-color: $gray-7; //$select-color;
$grid-row-cell-selected-color: $black; //$gray-7;
$grid-row-cell-selected-border-color: $gray-7; //$select-color;
$grid-row-cell-alt-background-color: $gray-7;
$grid-row-cell-background-color: $gray-7;
$grid-row-cell-focus-border-style: solid;
$grid-row-cell-focus-border-color: #ddd;

/* Grid Column - default ui */
$grid-column-header-font-family: $info-font;
$grid-column-header-font-size: 12px;
$grid-header-background-color: transparent;
$grid-header-over-background-color: $select-hover-color;

// Tips
$tip-background-color: $gray-7;
$tip-border-color: $info-color;
$tip-body-color: $info-color;

@mixin paragraphSpacing {
  padding-bottom: 8px;
}

@mixin header {
  font-family: $data-font;
  font-weight: normal;
}

@mixin dialogheader {
  font-family: $info-font;
  color: $black;
  font-weight: 700;
};

@mixin bodycaps {
  font-family: $bodycaps-font;
  font-size: 16px;
  font-weight: bold;
  color : $interactive-color;
  text-transform: none;
}

@mixin headline {
  font-size: $headline;
  text-transform: none;
};

@mixin standout {
  font-size: $title;
  font-family: $data-font;
};

@mixin smallStandout {
  text-transform: none;
  font-weight: normal;
  color: $heat-scale-2;
  font-family: $bodycaps-font;
  span {
    color: $dark-color;
  }
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin prefixer($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin rightFade {
  // needs latest Compass, add '@import "compass"' to your scss
  background-color: $secondary-color; // Old browsers
  @include filter-gradient($secondary-color, $gray-7, horizontal); // IE6-9
  @include background-image(linear-gradient(left,  $secondary-color 85%,$gray-7 95%));
}


// --- END DEFINE MIXINS ----

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

*:focus {outline:none;}
*::-moz-focus-inner {border:0;}

h1 {
  font: $display-two-font;
}

h2 {
  font: $display-one-font;
}

h3 {
  font: $headline-font;
}

ul {
  list-style: none;
}

.nogridmsg h1 {
  white-space: nowrap;
}

li.fadein {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: fadein;
  -webkit-animation-name: fadein;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  color: $select-color;

  text-decoration: none;

  &.logout {
    color: $gray-7;
    cursor: pointer;
    transition: all 0.3s ease;


    &:hover {
      color: $gray-7-hover;
      text-decoration: none;
    }
  }

  &.survey {
    float: right;
    vertical-align: middle;
  }

  &:hover, &:active {
    text-decoration: underline;
  }
}

svg {
  vertical-align:top;
}

.interactive {
  color: $interactive-color;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.secondary {
  color: $secondary-text-color;
}

.cascade-header {
  padding: 31px 0 34px $pageLeftPadding;
  color: $black;
  line-height: 32px;

  .middle {
    opacity: 0.66;
  }

  .bottom {
    opacity: 0.33;
  }
}

.grid-paging-widget {
  background: #FFFFFF;
  border: 1px solid #e6e6e5;
  border-radius: 16px;
}

.paging-arrow-svg-back {
  height: 8px !important;
  width: 8px !important;
  margin: 3px 0 0 3px;
}

.paging-arrow-svg-next {
  height: 8px !important;
  width: 8px !important;
  margin: 3px 0 0 3px;
}

.paging-back-button {
  background-color: white !important;
}

.paging-next-button {
  background-color: white !important;
}

.page-button-container .x-box-inner {
  height: 30px !important;
}

.x-grid-view {
  padding-bottom: 70px;
}

.inline {
  display: inline-block;
}

.header-container {

  .titlepanel {
    background: $gray-7;
    display: block;
    width:100%;
    height: 56px;
    padding-left: 16px;
    clear: all;

    .title {
      font: $title-font;
      line-height: 56px;
    }

    .buttons {
      padding-top: 16px;
      padding-right: 24px;
    }
  }

  margin: 0;
  padding: 0!important;
  &-slim {
    margin: 0;
  }
}

.iScroll {
  ::-webkit-scrollbar {
    width: 7px;
    height: 9px;
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:vertical {
    height: 50px;
  }

  ::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
  }
}

/* error messages */
.errormsg {
  font-size: 9pt;
  font-family : $info-font;
  color : $interactive-color;
}

div.emptytext {
  font: $body-one-font;
  color: $heat-scale-2;
}

/* This is a little weird that all of these selectors apply the same style, yet override later... */
.signin-content, .terms-of-use, .signin-right {
  padding: 25px;

  p {
    @include paragraphSpacing;
  }

  .logoContainer {
    margin-left: auto;
    margin-right: auto;
    width: 650px;

    img {
      height: 300px;
      width: 620px;
    }
  }
}

.#{$connector-prefix}tab-bar {
  display: none;
}

.#{$connector-prefix}border-layout-ct {
  background-color: $gray-7;
}

.#{$connector-prefix}form-item {
  font-family: $info-font;
}

.#{$connector-prefix}form-item-label-top {
  font-size: 12px;
}

.#{$connector-prefix}border-box textarea.#{$connector-prefix}form-field {
  padding: 7px;
}

.#{$connector-prefix}form-field, .#{$connector-prefix}form-display-field {
  font-family: $info-font;
}

/* Ext Mask */
.#{$connector-prefix}mask-msg {
  background-color: $heat-scale-3;
  border-color: $heat-scale-1;

  div {
    border: 1px solid transparent;
  }
}

.#{$connector-prefix}tip {
  border-color: $heat-scale-3;
  background-color: $heat-scale-4;
}

.#{$connector-prefix}tip-anchor {
  border-width: 12px;
  border-left-color: darken($gray-7, 10%);
}

.#{$connector-prefix}tip-anchor-left {
  border-left-color: transparent !important;
  border-right-color: darken($gray-7, 10%);
}

.#{$connector-prefix}mask {
  background-color: $black !important;
  opacity: .8 !important;
}

/* Ext Message Box */
.#{$connector-prefix}window-default,
.#{$connector-prefix}window-header-default-top {
  background-color: $gray-7;
}

.#{$connector-prefix}toolbar .#{$connector-prefix}toolbar-separator-horizontal {
  border-left: $heat-scale-3;
}

.#{$connector-prefix}btn-default-toolbar-small-over {
  background-image: none;
  border-color: $heat-scale-3;
  background-color: $heat-scale-4;
}

/* Role-based selectors */
.auto-scroll-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.section-title {
  font: $headline-font;
}

.top-spacer {
  margin-top: 10px;

  &-sm {
    margin-top: 5px;
  }

  &-lg {
    margin-top: 20px;
  }

  &-xlg {
    margin-top: 40px;
  }
}

.left-spacer {
  margin-left: $pageLeftPadding;

  &-sm {
    margin-left: 13px;
  }


  &-lg {
    margin-left: 54px;
  }
}

.bottom-spacer {
  margin-bottom: 10px;

  &-sm {
    margin-bottom: 5px;
  }

  &-lg {
    margin-bottom: 20px;
  }
}

.x-css-shadow {
  @include prefixer(border-radius, 2px!important);
  @include prefixer(box-shadow, 0 1px 0 0 $gray-6!important);

}

/* Visualization Library */
.vis-bin-hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}

.vis-bin-square {
  fill: none;
  stroke: #FFF;
  stroke-width: .5px;
}

/* For the dropdowns, move to own scss */
.dropdown-container {
  border: 1px solid #D0D2D3;
  @include prefixer(border-radius, 2px);
  padding: 0 12px;
  height: 34px!important;
  line-height: 34px;
  margin: 28px;
  background-color: $white;

  &:hover { cursor: pointer; }

  label {
    display: block;
    line-height: 32px;
    height: 32px;
    margin-top: 0!important;
    font-size: 12px;
  }

  .dropdown-input {
    border: 0!important;
    background: none!important;
    font-family: $info-font;
    font-size: 12px;
    padding: 0 5px;
    line-height: 32px;
    height: 32px;
    color: $interactive-color;
    vertical-align: -webkit-baseline-middle;

    &:hover { cursor: pointer; }
  }

  span.parrow {
    width: 16px!important;
    height: 16px!important;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    background-image: url(images/dropdown_normal.svg);
    float: right;
    position: absolute;
    right: 0;
    top: 8px;

    &:hover {
      background-image: url(images/dropdown_hover.svg);
    }
  }
}

.feedback-panel {
  background-color: $heat-scale-6;
  .header {
    padding: 18px 48px 18px 9px;

    .main-title {
      font: $nav-font;
      color: $heat-scale-2;
    }

    .sub-title {
      margin-top: 3px;

      .nav-text {
        color: $black;
        font: $title-font;
      }
    }
  }

  .#{$connector-prefix}panel-body {
    background-color: $heat-scale-6;
  }

  .#{$connector-prefix}form-textarea {
    height: 390px;
  }

  /* TODO: Fix the feedback + save group footer */

  .feedback-input {
    input, textarea {
      padding: 16px 12px !important;
      border-radius: 2px;
      border-color: $gray-7!important;
    }

    .x-form-focus {
      border-color: $gray-6!important;
      color: $black;
    }
  }
}

div.hopscotch-bubble {
  border: 1px solid $border-color;
  @include prefixer(box-shadow, 0 1px 0 0 $gray-6);

  .hopscotch-title {
    font-size: 13px;
    padding-bottom: 8px;
  }

  .hopscotch-content {
    margin: 0;
    padding: 0;
    font-family: $info-font;
    color: $secondary-text-color;
  }

  .hopscotch-actions {
    display: none;
  }

  // placement: bottom
  .hopscotch-bubble-arrow-container.up {
    top: -17px;

    .hopscotch-bubble-arrow {
      top: -16px;
    }

    .hopscotch-bubble-arrow-border {
      border-bottom-color: $border-color;
    }
  }

  // placement: top
  .hopscotch-bubble-arrow-container.down {
    bottom: -34px;

    .hopscotch-bubble-arrow {
      top: -18px;
    }

    .hopscotch-bubble-arrow-border {
      border-top-color: $border-color;
    }
  }

  // placement: left
  .hopscotch-bubble-arrow-container.right {
    right: -34px;

    .hopscotch-bubble-arrow {
      left: -1px;
    }

    .hopscotch-bubble-arrow-border {
      border-left-color: $border-color;
    }
  }

  // placement: right
  .hopscotch-bubble-arrow-container.left {
    left: -17px;

    .hopscotch-bubble-arrow {
      left: 1px;
    }

    .hopscotch-bubble-arrow-border {
      border-right-color: $border-color;
    }
  }

  &.no-close .hopscotch-bubble-close {
    display: none !important;
  }
}


.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  -ms-animation-duration: 0.3s;
  -o-animation-duration: 0.3s;
  animation-duration: 0.3s;
}


.helpcenter-panel {
  .header {
    padding: 14px 18px 14px 9px;
    height: 60px !important;
    .x-panel-body {
      height: 32px !important;
    }
    .x-box-inner {
      height: 32px !important;
    }

    .main-title {
      font: 26px Georgia,serif;
      color: $heat-scale-2;
    }

    .sub-title {
      margin-top: 3px;

      .nav-text {
        color: $black;
        font: $title-font;
      }
    }

    .helpcenter-title {
      font: 17px Georgia,serif;
      position: absolute !important;
      top: 4px !important;
    }

    .helpcenter-back {
      font: 16px Georgia,serif;
      color: $action-red;
      cursor: pointer;
      position: absolute !important;
      top: 4px !important;
    }

    .helpcenter-search-input {
      clear: both;
      position: absolute !important;
      top: 0 !important;
      width: 66%;
      tbody,
      tr,
      td.x-form-item-body {
        width: 100%!important;
      }

      input {
        width: 100%;
        font-size: 12px;
        border-radius: 2px;
        border-color: $gray-7!important;
        height: 30px;

      }
      input.x-form-focus {
        border-color: $gray-6!important;
        color: $black;
      }
    }

  }

  p {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    font: 16px Georgia,serif;
  }

  a {
    color: $gray-4;
  }

  .#{$connector-prefix}panel-body {
    background-color: $heat-scale-6;
  }

  .#{$connector-prefix}form-textarea {
    height: 390px;
  }

  .footer {
    padding-right: 20px;
  }

  .helpcenter-body {
    padding: 10px 20px 10px 10px;
    height: 532px !important;
    .x-scroll-bar-y {
      width: 0; /*CHANGE: replace width: 6px;*/
    }
    overflow-y: auto;
    background-color: $heat-scale-6;
    .x-form-focus {
      border-color: $gray-4!important;
      color: $black;
    }
    p.searchresult {
      border-bottom: thin solid #D1D2D4; padding-bottom: 15px;
    }
    a.see-all {
      color: $action-red;
    }
  }

}


@import 'windows';

@import 'grid/Panel';

@import 'panel/FilterPanel';
@import 'panel/GroupList';
@import 'panel/Selector';

@import 'plugin/LoadingMask';

@import 'view/DetailStatus';
@import 'view/Header';
@import 'view/InfoPane';
@import 'view/Learn';
@import 'view/Navigation';
@import 'view/Page';
@import 'view/Chart';
@import 'view/Signin';
@import 'view/SingleAxisExplorer';
@import 'view/Summary';
@import 'view/TermsOfUse';
@import 'view/Variable';
