/* Site wide coloring scheme */
$select-color: #14C9CC;                       // Bright Blue
$selectongrey-color: rgba(20, 201, 204, 0.2); // Light Blue

$primary-color: #DCD8D8;           // Main Gray
$secondary-color: #F0F0F0;         // Light Gray
$legend-color: #BAB4B4;            // 10% darker than $secondary-color
$light-color: #FFFFFF;             // White
$dark-color: #333333;              // Dark Gray

$interactive-color: #9B0D96;       // Interactive
$info-color: #F5A73A;              // Info

$black: #000000;
$unselect-black: rgba(0, 0, 0, 0.4);

/* these could be an actual scale using a function -- stick with Artefact colors for now */
$heat-scale-1: #666363;            // Heatmap Gray #1
$heat-scale-2: #A09C9C;            // Heatmap Gray #2
$heat-scale-3: #CCC8C8;            // Heatmap Gray #3
$heat-scale-4: #E6E1E1;            // Heatmap Gray #4

$title : 28pt;
$headline : 18pt;
$pageLeftPadding: 27px;

$bodycaps-font : Arial;
$info-font : Verdana, sans-serif;
$data-font : Georgia, serif;

// Calendar
$datepicker-base-color: $light-color;

$window-body-background-color: $primary-color;
$window-header-color: $secondary-color;

@mixin header {
  font-family: $data-font;
  font-weight: normal;
}

@mixin bodycaps {
  font-family: $bodycaps-font;
  font-size: 14pt;
  font-weight: bold;
  color : $interactive-color;
  text-transform: uppercase;
}

@mixin headline {
  font-size: $headline;
  text-transform: uppercase;
};

@mixin standout {
  font-size: $title;
  font-family: $data-font;
};

@mixin smallStandout {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11pt;
  font-family: $bodycaps-font;
  span {
    color: $dark-color;
  }
}

@mixin pagePaddingLeft {
  padding-left: $pageLeftPadding;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// --- END DEFINE MIXINS ----

/*
  Class Listing
  - Windows
  - Connector.panel.FilterPanel
  - Connector.panel.HierarchyFilter
  - Connector.view.Dimension
  - Connector.view.DimensionSelector
  - Connector.view.FilterSave
  - Connector.view.FilterStatus
  - Connector.view.Header
  - Connector.view.GroupListView
  - Connector.view.GroupPreview
  - Connector.view.Navigation
  - Connector.view.SelectionStatus
  - Connector.view.SingleAxisExplorer
  - Connector.view.Summary
  - Connector.view.search.Container
*/

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0
}

h1 {
  font-size: 26pt;
  @include header;
}

h2 {
  font-size: 22pt;
  @include header;
}

h3 {
  font-size: 20pt;
  @include header;
}

li.fadein {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-name: fadein;
  -webkit-animation-name: fadein;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.x-tab-bar {
  display: none;
}

.x-border-layout-ct {
  background-color: $light-color;
}

.titlepanel {
  padding-top: 25px;
  padding-bottom: 7px;
  @include pagePaddingLeft;
}

.titlepanel span {
  @include bodycaps;
}

/* Windows */
.axiswindow {
  width: 100px;
  height: 100px;
  background-color: $light-color;
  position: relative;
  border: none;
  overflow: inherit !important;
  background-color: $secondary-color;
  border-bottom: 1px solid $heat-scale-3;

  .x-window-header {
    display: none;
  }

  .x-window-body {
    border-style: none;
    background-color: $secondary-color;
  }

  .x-toolbar-footer {
    background-color: $secondary-color;
  }

  &:after, &:before {
    border: 12px solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
    right: 100%;
    top: 46%;
  }

  &:after {
    border-right-color: $secondary-color;
  }

  &:before {
    /*border-bottom-color: trans;*/
  }

  .x-form-item {
    span {
      @include smallStandout;
    }
    background-color: $secondary-color;
    /*border-bottom: 1px solid $heat-scale-3;*/
  }
}

.filterwindow {
  width: 100px;
  height: 100px;
  background-color: $light-color;
  position: relative;
  border: none;
  overflow: inherit !important;
  background-color: $secondary-color;
  border-bottom: 1px solid $heat-scale-3;

  .x-window-header {
    display: none;
  }

  .x-window-body {
    border-style: none;
    background-color: $secondary-color;
  }

  .x-toolbar-footer {
    background-color: $secondary-color;
  }

  &:after, &:before {
    border: 12px solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
    left: 50px;
  }

  &:after {
    border-bottom-color: $secondary-color;
  }

  &:before {
    /*border-bottom-color: trans;*/
  }

  .x-form-item {
    span {
      @include smallStandout;
    }
    background-color: $secondary-color;
  }
}

.measurewindow {
  width: 100px;
  height: 100px;
  background-color: $light-color;
  position: relative;
  border: none;
  overflow: inherit !important;
  background-color: $secondary-color;
  border-bottom: 1px solid $heat-scale-3;

  .x-window-header {
    display: none;
  }

  .x-window-body {
    border-style: none;
    background-color: $secondary-color;
  }

  .x-toolbar-footer {
    background-color: $secondary-color;
  }

  &:after, &:before {
    border: 12px solid transparent;
    content: ' ';
    height: 0;
    bottom: 100%;
    position: absolute;
    width: 0;
    left: 215px;
  }

  &:after {
    border-bottom-color: $secondary-color;
  }

  &:before {
    /*border-bottom-color: trans;*/
  }

  .x-column-header {
    @include smallStandout;
    background-image: none;
    background-color: $secondary-color;
  }
}

#plotymeasurewin:after,
#plotymeasurewin:before {
  border-right-color: $secondary-color;
  border-bottom-color: transparent;
}

#plotxmeasurewin:after,
#plotxmeasurewin:before {
  top: 100%;
  left: 40%;
  border-top-color: $secondary-color;
  border-right-color: transparent;
}

/* -- END Windows */

/* Connector.panel.FilterPanel */
div.filterpanel {

  padding-top: 15px;

  .header {
    /* small standout */
    //text-transform: uppercase;
    //font-weight: bold;
    font-size: 18pt;
    font-family: $data-font;
    span {
      color: $dark-color;
    }
  }

  div.opselect {
    display: none;
  }
  div.showopselect {
    display: block;
  }

  &:hover {
    div.opselect {
      display: block !important;
    }
    div.showopselect {
      display: none;
    }
  }
}

/* -- END Connector.panel.FilterPanel */

/* Connector.panel.HierarchyFilter */
div.filtermember {
  img {
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
    img {
      opacity: 1;
    }
  }
}

div.filtermember, span.hierarchylabel {
  font-size: 11pt;
  font-family: $data-font;
  img {
    float: right;
    position: relative;
    top: 3px;
  }
}

div.opselect {
  position: absolute;
  top: 19px;
  left: 18px;
  select {
    font-size: 9pt;
  }
}

div.showopselect {
  position: absolute;
  top: 23px;
  left: 25px;
}

/* -- END Connector.panel.HierarchyFilter */

/* Connector.view.Dimension */
.dimensionview {
  background-color : $primary-color;
}

.summaryview {
  background-color : $secondary-color;
}

div.dimensionsort {
  color: $heat-scale-2;
  padding-top: 10px;
  padding-left: $pageLeftPadding;
  padding-bottom: 5px;
  font-family: $info-font;
  @include smallStandout;
  font-size: 11pt;
}

div.dimensionsort .sorttype {
  padding-left: 5px;
}

#type-field div input {
  margin-left: $pageLeftPadding;
  height : 22px;
  border : 1px inset;
}

div.label {
  color: $heat-scale-2;
  font-family: $data-font;
  font-size: 11pt;
}

div.label span {
  color: $dark-color;
  font-weight: bold;
}

div.boldlabel {
  @include smallStandout;
  font-size: 10pt;
}

div.boldlabel span {
  color: $dark-color;
  font-weight: bold;
}

/* -- END Connector.view.Dimension */

/* Connector.view.DimensionSelector */
div.dimgroup {
  @include pagePaddingLeft;
  @include standout;
}

/* -- END Connector.view.DimensionSelector */

/* Connector.view.FilterSave */
div.savetitle {
  @include standout;
  padding: 15px 0 0 27px;
}

.x-form-item {
  font-family: $info-font;
}

.x-form-item-label-top {
  font-size: 11pt;
}

.grouptop {
  padding: 15px 0 0 0;
}

.x-border-box textarea.x-form-field {
  padding: 7px;
}

.x-form-field, .x-form-display-field {
  font-family: $info-font;
}

/* -- END Connector.view.FilterSave */

/* Connector.view.FilterStatus */
div.highlight-value {
  @include standout;
}

div.highlight-label {
  @include smallStandout;
  span {
    color: black;
  }
}

div.status-row {
  text-transform: lowercase;
  font-family: $info-font;
  font-size: 11pt;
  padding-top: 5px;
  padding-left: 4px;
}

div.status-row:hover {
  cursor: pointer;
  .x-btn-icon {
    background-image: url(/labkey/Connector/images/infoover.png);
    background-size: 17px 17px;
    width: 17px;
    height: 17px;
    position: absolute;
    left: 98px;
  }
}

div.status-row.x-btn-rounded-inverted-accent-icon-small {
  margin-top: 3px;
  padding-top: 1px;
  padding-left: 2px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

/* -- END Connector.view.FilterStatus */

/* Connector.view.Header */
.connectorheader, .connectorheader-collapse {
  background-color: $black;
  color : $light-color;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($black), to($dark-color)); // TODO: Change to compass
  background: -moz-linear-gradient(left, $black,  $dark-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333',GradientType=1);
}

.connectorheader .logo {
  @include headline;
}

.connectorheader .logo h2 {
  float: left;
  padding: 20px 5px 0px 27px !important;
  font-family: $bodycaps-font;
  font-weight: bold;
  font-size: 13pt;
}

.connectorheader .logo h2:hover {
  cursor: pointer;
}

.connectorheader .logo span,
.connectorheader-collapse .logo span {
  color : $select-color;
}

.connectorheader .logo img {
  padding-top: 23px;
}

/* Logout Link */
a {
  color: $interactive-color;

  &.logout {
    color: $light-color;
    text-decoration: none;
  }

  &.survey {
    float: right;
    vertical-align: middle;
    text-decoration: none;
  }

  &.logout, &.survey {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* -- END Connector.view.Header */

/* Connector.view.GroupListView */
div.grouplist-view {
  padding: 2px 0;
  font-family: $data-font;
  font-size: 13pt;
  color: black;
}

.grouplist-label-over {
  cursor: pointer;
  background-color: $primary-color;
}

div.emptytext.grouplist-label-over {
  cursor: default;
  background-color: transparent;
}

div.grouplist {
  .x-panel-header {
    padding-left: 23px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  span.x-panel-header-text {
    @include smallStandout;
  }
}

/* -- END Connector.view.GroupListView */

/* Connector.view.GroupPreview */
.grouppreview {
  background-color: $primary-color;
  padding-top: 10px;
  padding-left: $pageLeftPadding;
  padding-bottom: 5px;
}

.grouppreview div.title {
  @include standout;
}

.grouppreview div.subtitle {
  @include smallStandout;
}

.grouppreview div.previewleft {
  padding: 5px;
  float : left;
  width : 50%;
  height: 100px;
}

.grouppreview div.previewright {
  padding: 5px;
  height: 100px;
}
/* -- END Connector.view.GroupPreview */

/* Connector.view.Navigation */
.navigation-view {
  padding: 10px 0;
  font-family: $data-font;
  color: $light-color;
}

div.nav-label, div.dis-label {
  padding-top: 4px;

  span.right-label {
    width: 262px;
    float: right;
    @include unselectable;
  }

  span.left-label {
    padding-left: 23px;
    @include unselectable;
  }
}

div.grouplist-label-over:after,
div.nav-label:after, div.dis-label:after{
  //This is a nifty class that self-clears any floats.
  content: '.';
  visibility: hidden;
  clear: both;
}

div.dis-label {
  opacity: 0.35;
  cursor: default;
}

div.nav-label-over span.right-label,
div.nav-label-over span.left-label {
  cursor : pointer;
  color: $secondary-color;
}

div.emptytext span.left-label {
  padding-left: 23px;
}

div.grouplist-label-selected, div.nav-label-selected {
  span {
    font-weight: bold;

    &.left-arrow, &.right-arrow {
      position: relative;
      top: 0;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
    }

    &.left-arrow {
      float: left;
      left: 0;
      border-left: 11px solid $primary-color;
    }

    &.right-arrow {
      float: right;
      right: 0;
      border-right: 11px solid $primary-color;
    }
  }
}

/* -- END Connector.view.Navigation */

/* Connector.view.SelectionStatus */
div.selectionstatus,
div.activefilterstatus {
  padding-top: 15px;
  .header {
    @include smallStandout;
  }
}

/* -- END Connector.view.SelectionStatus */

/* Connector.view.SingleAxisExplorer */
.barchart {
  width: 78%;
  padding: 2px;
  margin: 2px 0;

}

.bar {
  position: relative;
  display: block;
}

.bar.large {
  height: 38px;
  margin: 4px 0 0 23px;
}

.bar.small {
  height: 27px;
  margin: 4px 0 4px 23px;
  .x-btn {
    display: none;
  }
}

.bar.small:hover {
  .x-btn {
    display: block;
  }
}

.bar .barlabel {
  font-family: Georgia, sans-serif;
  display: block;
  padding: 5px 5px;
  position: relative;
  z-index: 2;
  @include unselectable;
}

.bar.large .barlabel {
  font-size: 14pt;
  z-index: 18002;
}

.bar.small .barlabel {
  font-size: 12pt;
  font-weight: bold;
  z-index: 18002;
  border-left: 1px solid $primary-color;
}

.barlabel.selected {
  padding: 5px;
  font-weight: bold;
  font-size: 12pt;
  position: absolute;
  z-index: 10000000;
}

span.info {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 25px;
  top: 5px;
  z-index: 18005;
}

.bar.large:hover,
.bar.small:hover {

  cursor: pointer;

  .barlabel {
    text-decoration: underline;
  }

  .index {
    z-index: 18001;
    background-color: $select-color;
  }
}

.bar .count {
  color: $legend-color;
  font-family: $data-font;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  @include unselectable;
}

.bar.large .count {
  top: 6px;
}

.bar.small .count {
  top: 0;
}

.bar .index {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: $primary-color;
  text-indent: -9999px;
  overflow: hidden;
}

.bar .index-selected {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $select-color;
  text-indent: -9999px;
  overflow: hidden;
}

.bar .index-selected.inactive {
  background-color: $selectongrey-color;
}

.bar.x-item-selected span.index-selected.inactive {
  background-color: $select-color;
}

.bar .count.inactive {
  color: $selectongrey-color;
}

.bar .count.active {
  color: $select-color;
}

div.singleaxis {
  overflow-y: auto;
}

div.saecollapse {
  color : $interactive-color;
  border: 1px solid $primary-color;
  float : left;
  font-size: 22pt;
  height: 38px;
  width : 23px;
}

div.saecollapse p {
  vertical-align: middle;
  text-align: center;
}

div.saecollapse:hover {
  cursor: pointer;
  color : $light-color;
  background-color: $select-color;
  border-color: $select-color;
}

div.barcollapse {
  opacity: 0;
  height: 0;
  display: none;
}

div.saeempty {
  font-family: $data-font;
  font-size: 14pt;
  margin-top: 10px;
}

/* -- END Connector.view.SingleAxisExplorer */

/* Connector.view.Summary */
div.line {
  margin-left: $pageLeftPadding;
  height: 1px;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from($heat-scale-2), to($primary-color));
  background: -moz-linear-gradient(45deg, $heat-scale-2, $primary-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A09C9C', endColorstr='#DCD8D8',GradientType=1);
}

div.row {
  height: 19%;
  min-height: 50px;
  white-space: nowrap;
  min-width: 800px;
}

div.row:hover {
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;

  background-color: $select-color;
  @include single-box-shadow($heat-scale-2, -2px, 2px, 2px);
  @include border-radius(2);
  cursor : pointer;

  span.pp {
    color: $heat-scale-3;
  }

  span.label {
    color: $light-color;
  }

  .line {
    background-color: transparent;
  }
}

div.column {
  float: left;
}

div.endcolumn {
  float: none;
}

/* By column is the 'by Column' you see in Summary Display */
div.bycolumn, div.med-bycolumn, div.small-bycolumn {
  width : 43%;
  @include pagePaddingLeft;
  @include standout;

  span.pp {
    color: $heat-scale-2;
  }
}

div.med-bycolumn {
  font-size: 21pt;
}

div.small-bycolumn {
  font-size: 18pt;
}

/* Detail column is the middle column of the Summary Display */
div.detailcolumn, div.med-detailcolumn, div.small-detailcolumn {
  width : 28%;
  white-space: pre-wrap;
  padding-top: 4px;
}

div.detailcolumn {
  font-size: 10pt;

  a {
    color: $black;

    &.nav:hover {
      color: $heat-scale-4;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

div.med-detailcolumn {
  font-size: 9pt;

  a {
    color: $black;

    &.nav:hover {
      color: $heat-scale-4;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

div.small-detailcolumn {
  font-size: 8pt;

  a {
    color: $black;

    &.nav:hover {
      color: $heat-scale-4;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

div.totalcolumn {
  margin-left: 76%;
  font-weight: bold;
  white-space: pre-wrap;
  width: 15%;
}

/* -- END Connector.view.Summary */

/* Connector.view.search.Container */
#search-field input {
  height : 22px;
  border: 1px inset;
}

/* -- END Connector.view.search.Container */

/* --- --- */
.close {
  display: none;
}

li.selection,
li.activefilter {
  font-size: 11pt;
  font-family: $data-font;
}

td.subselect:hover,
li.activefilter:hover {
  cursor: pointer;
  .close {
    display: inline;
    padding-left: 5px;
  }
  .close:hover {
    cursor: pointer;
  }
}

li.activefilter {
  margin: 5px 0;
}

div.emptytext {
  font-size: 11pt;
  font-family: $info-font;
  color: $heat-scale-2;
  padding-top: 3px;
}

/* Connector.panel.Feedback */
div.feedback {
  /*position: absolute;*/
}

/* Connector.view.Scatter */
.stdcolor {
  background-color: $primary-color;
}

#scatterloader {
  position: absolute;
  visibility: hidden;
  z-index: 10000;

  img {
    padding-right: 3px;
  }
}

.timeview, .compareview, .rawdataview {
  background-color : $primary-color;
  padding: 15px 0 0 0;
}

.scatterview {
  background-color : $secondary-color;
  padding: 0;
}

.emptyplot svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.x-window-default, .x-window-header-default-top {
  background: $secondary-color !important;
}

.xaxisbutton {
  margin-top: 1%;
  margin-left: 49.5%;
}

#gridsources, #plotsources {
  float: right;
  margin-right: 20px;
}

.scatterplot {
  background-color: $light-color;
}

.scatterplot svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.scatterplot .info {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Ext Message Box */
.x-window-default,
.x-window-header-default-top {
  background-color: $light-color;
}

.x-toolbar .x-toolbar-separator-horizontal {
  border-left: $heat-scale-3;
}

.x-btn-default-toolbar-small-over {
  background-image: none;
  border-color: $heat-scale-3;
  background-color: $heat-scale-4;
}

.x-tip {
  border-color: $heat-scale-3;
  background-color: $heat-scale-4;
}

/* Ext.Grid*/
.x-column-header-text {
  font-family: $info-font;
  font-size: 11pt;
}

.x-column-header-over, .x-column-header-sort-ASC, .x-column-header-sort-DESC {
  background-image: none !important;
  background-color: $secondary-color;
  border: none;
}

.x-column-header-trigger {
  display: block;
  width: 17px;
  border-left: 1px solid $primary-color;
}

.x-column-header-trigger:hover {
  background-color: #F4F4F4 !important;
}

div.filterheader {
  font-size: 11pt;
}

#gridfilterwindow .x-form-item {
  background-color: transparent;
  border-bottom: none;
}

/* Measure Picker */
.sourcepanel .x-panel-body .x-box-inner,
.measurepanel .x-panel-body .x-box-inner {
  border: 1px solid $heat-scale-3;
}

div.measure-label {
  @include standout;
  padding-left: 15px;
  padding-top: 7px;
}

/* Selection Highlight*/
.x-grid-row-selected .x-grid-cell, .x-grid-row-selected .x-grid-rowwrap-div {
  border-color: $select-color;
  background-color: $select-color !important;
  color: $light-color;
  background-image: none !important;
}

/* Ext Mask */
.x-mask-msg div {
  border: 1px solid transparent;
}

.x-mask-msg {
  background-color: $heat-scale-3;
  border-color: $heat-scale-1;
}

.circle {
  width:16px;
  height:16px;
  display:block;
  @include border-radius(8px);
  background-color: $selectongrey-color;
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.iScroll ::-webkit-scrollbar
{
  width: 7px;
  height: 9px;
}

.iScroll ::-webkit-scrollbar-button:start:decrement,
.iScroll ::-webkit-scrollbar-button:end:increment
{
  display: block;
  height: 0;
  background-color: transparent;
}

.iScroll ::-webkit-scrollbar-track-piece
{
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}

.iScroll ::-webkit-scrollbar-thumb
{
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
}

.iScroll ::-webkit-scrollbar-thumb:vertical
{
  height: 50px;
}

.iScroll ::-webkit-scrollbar-thumb:horizontal
{
  width: 50px;
}

.assayInfoDetails,
.assayNorthDetails {
  background-color: $primary-color;
}

.properties-body {
  height: 130px;
  background-color: white;
  overflow-y: auto;
}

.properties-body div.nav-label:hover {
  background-color: $select-color;
  cursor: pointer;
}

div.nav-label.x-item-selected {
  background-color: $selectongrey-color;
}

/* Noun pages */
div.nounproperty {
  color: $dark-color;
  font-family: $info-font;
  @include smallStandout;
  font-size: 9pt;
}

div.nounheader {
  font-family: $info-font;
  font-size: 11pt;
  padding-top: 2px;
  padding-left: 10px;
}

div.header-title {
  border-bottom: 1px solid lightgray;
  height: 25px;
  padding: 5px;
  padding-left: 10px;
}

td.noun-detail-text {
  padding-top: 10px;
  padding-right: 10px;
  vertical-align: text-top;
  text-align: justify;
  font-family: $info-font;
}

/* Citations */
div.cite-subtitle {
  padding-left: 27px;
  font-size: 11pt;
}

div.cite-block {
  /*height: 95px;*/
  padding: 15px 27px 0 27px;
  line-height: 18px;
  font-size: 11pt;

  div.inner {
    /*height: 95px;*/
    border-bottom: 1px solid $primary-color;
  }

  div.cite-title {
    padding-top: 5px;
    span {
      color: $interactive-color;
    }
  }

  div.cite-des {
    font-size: 10pt;
  }

  a.cite-ref,
  a.cite-src {
    cursor: pointer;
  }
}

a.cite-src,
a.cite-ref {
  text-decoration: underline;
  font-size: 9pt;
}

/* Connector.window.SystemMessage */
.sysmsg .x-window-body-swmsg {
  padding: 6px 10px;
  border: 1px solid $info-color;
  font-weight: bold;
  background-color: $light-color;
  color: $info-color;
  border-radius: 2px;
  text-align: center;
  a {
    color: $info-color;
    text-decoration: underline;
  }
  a:hover {
    cursor: pointer;
  }
}

a {
  color: $interactive-color;

  &.logout {
    color: $light-color;
    text-decoration: none;
  }

  &.survey {
    float: right;
    vertical-align: middle;
    text-decoration: none;
  }

  &.logout, &.survey {
    &:hover {
      text-decoration: underline;
    }
  }
}

/* error messages */
.errormsg {
  font-size: 9pt;
  font-family : $info-font;
  color : $interactive-color;
}

/* Tips provided for future features */
.x-tip-anchor {
  border-width: 12px;
  border-left-color: darken($primary-color, 10%);
}

.x-tip-anchor-left {
  border-left-color: transparent !important;
  border-right-color: darken($primary-color, 10%);
}

.featuretip {
  height: 142px;
  width : 400px;
  font-family : $data-font;
  font-size: 11pt;
  img {
    float : left;
  }

  p {
    margin: 0 10px 0 161px;
    font-weight: bold;
  }
}

.matchtip {
  padding: 10px;
  width : 200px;
  font-size: 11pt;
  font-family: $data-font;

  .tiptitle {
    padding-top: 10px;
    font-weight: bold;
  }

  .tiptext {
    padding-top: 5px;
  }
}

#searchtip {
  p {
    margin: 0 10px 0 5px;
  }
}

/* Tutorial video */
img.hoverimg {
  opacity: 0.5;
  border:  1px solid transparent;
}

img.hoverimg:hover {
  opacity: 1;
  border: 1px solid lightgray;
}

div.imgwrapper span {
  margin-left: 62px;
  font-family: $info-font;
}

div.tutorial {

  padding: 0px;
  background: transparent;
  border: 0;
  box-shadow: none;

  .x-window-header-default {
    background: transparent;
    border: 0;
    box-shadow: none;
  }

  .x-window-body {
    background-color: #000;
  }
}

img.tutorialclose {
  height: 31px;
  width: 31px;
  position: absolute !important;
  z-index: 20000;
  cursor: pointer;
}

/* Connector.view.Learn */
div.learnview {
  overflow-y: auto;
}

div.learnheader {
  background-color: $primary-color;
}

div.learn-header-container {
  padding-left: $pageLeftPadding;
}

h1.lhdv {
  float: left;
  font-weight: normal;
  padding-right: 18px;
  color: $unselect-black;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: $black;
  }
}

div.learncolumnheader {
  background-color: $primary-color;
  height: 30px;
}

/* Connector.app.view.Study */
div.detail-wrapper:hover {
  transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -webkit-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;

  background-color: $selectongrey-color;

  cursor: pointer;
}

div.detail-container {
  width: 95%;
  margin-left: $pageLeftPadding;
  margin-right: auto;

  div.detail-header {
    font-size: 14pt;
    color: $dark-color;
    font-family: $info-font;
  }
}

div.study-detail {
  height: 170px;
  border-bottom: 2px solid $primary-color;
  padding-top: 15px;
  overflow: hidden;
}

div.study-description {
  width: 40%;
  padding-right: 10px;
  float: left;
  font-family: $info-font;

  .phase-text {
    font-size: 12pt;
    color: $heat-scale-1;
  }

  .description-text {
    padding-top: 5px;
    font-size: 12pt;
    color: $heat-scale-1;
  }
}

div.study-date {
  width: 20%;
  float: left;
  padding-right: 10px;
  font-family: $info-font;
  font-size: 12pt;

  .startdate-text {
    display: block;
  }

  .enddate-text {
    display: block;
    color: $heat-scale-1;
  }

  .date-diff-text {
    color: $heat-scale-1;
  }
}

div.study-treatments {
  width: 40%;
  float: right;
  font-family: $info-font;
  font-size: 12pt;
  color: $heat-scale-1;
}