@include extjs-window-ui (
  $ui-label: 'axiswindow',

  $ui-border-radius: 0,

  $ui-background-color: $gray-7,
  $ui-border-color: $secondary-color
);

@include extjs-window-ui (
  $ui-label: 'filterwindow',

  $ui-padding: 0,
  $ui-border-width: 0,
  $ui-border-radius: 0,

  $ui-background-color: $white,
  $ui-border-color: $white,

  $ui-body-border-width: 0,
  $ui-body-background-color: transparent
);

@include extjs-window-ui (
  $ui-label: 'default',

  $ui-border-radius: 0,
  $ui-border-width: 0,

  $ui-padding: 0,

  $ui-header-color: $gray-2,
  $ui-header-background-color: $white,
  $ui-background-color: $white,
  $ui-border-color: $secondary-color,
  $ui-body-border-color: $white,
  $ui-body-background-color: $white
);
